<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end align-items-center">
                    <h2>Pagamento</h2>
                    <a href="perfil-usuario.html">Meu perfil</a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                <hr class="mt-0">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 text-center">
                <p><i class="fa fa-barcode fa-3x"></i></p>
                <h3>Boleto gerado com sucesso</h3>
                <p class="mb-5">Pague agora mesmo com a numeração do código de barras via Internet Banking ou imprima o boleto para pagamento.</p>
                <p><b>Numeração do código de barras:</b></p>
                <p class="mb-5">23780.38029 60633.748045 67006.333305 1 00000000010700</p>
                <p><small>Você tem 3 dias para pagar. O pagamento é aprovado em 1 ou 2 dias úteis.</small></p>
                <a href="#" class="btn mb-4">
                    Imprimir boleto
                </a>
                <p><a href="perfil-usuario.html">Ver detalhes da compra</a></p>
            </div>
        </div>
    </div>
</section>
