<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center pt-4">Vamos começar o seu cadastro.</p>
                
                <!-- formulário -->
                <form action="#" method="" class="validation" novalidate>
                    
                    
                    <!-- step 1 -->
                    <div class="step step-1 opened">
                        <div class="row">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span class="actived"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Dados da empresa</h2>
                            </div>

                            <!-- CNPJ -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>CNPJ</b></p>
                                        <input type="text" class="form-control cnpj" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Razão Social -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Razão Social</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" placeholder="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Orgão emissor -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Quantidade</b></p>
                                        <select class="form-control outline-none" required>
                                            <option selected >1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>

                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a href="pf-ou-pj.html" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a href="#" class="btn go w-100" role="button" aria-pressed="true">Continuar</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
