<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center pt-4">Vamos começar o seu cadastro.</p>
                
                <!-- formulário -->
                <form action="#" method="" class="validation" novalidate>
                    
                    <!-- step 1 -->
                    <div class="step step-1 opened">
                        <div class="row justify-content-center">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span class="actived"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Dados pessoais</h2>
                            </div>
                            
                            <!-- Nome -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Nome</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" placeholder="" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Nome Social -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Nome Social</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                                    </label>
                                </div>
                            </div>

                            <!-- Data de Nascimento -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Data de Nascimento</b></p>
                                        <input type="text" class="form-control dtnascimento" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Nacionalidade -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Nacionalidade</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Nome da máe -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Nome da mãe</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Nome do pai -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Nome do pai</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Gênero -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Sexo</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>Feminino</option>
                                            <option>Masculino</option>
                                            <option>Não informar</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- CPF -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>CPF</b></p>
                                        <input type="text" class="form-control cpf" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- RG -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>RG</b></p>
                                        <input type="text" class="form-control rg" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Orgão emissor -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Órgão Emissor</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>SSP</option>
                                            <option>---</option>
                                            <option>------</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- UF Orgão emissor -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>UF do Órgão Emissor</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>SP</option>
                                            <option>---</option>
                                            <option>------</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Data de Emissão -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Data de Emissão</b></p>
                                        <input type="text" class="form-control dtnascimento" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a href="pf-ou-pj.html" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-2" class="btn go w-100" role="button" aria-pressed="true">Continuar</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- step 2 -->
                    <div class="step step-2">
                        <div class="row">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span></span>
                                    <span class="actived"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Dados pessoais</h2>
                            </div>

                            <!-- Ensino -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Nível do ensino</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>Médio</option>
                                            <option>Superior</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Estado civil -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Estado civil</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>Solteiro</option>
                                            <option>Casado</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>E-mail</b></p>
                                        <input type="text" class="form-control email" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Confirmar email -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Confirmar e-mail</b></p>
                                        <input type="text" class="form-control email" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Fixo -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Telefone residencial</b></p>
                                        <input type="text" class="form-control fixo" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Celular -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Telefone celular</b></p>
                                        <input type="text" class="form-control telefone" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Comercial -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Telefone comercial</b></p>
                                        <input type="text" class="form-control telefone" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3"></div>
                            
                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-1" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-3" class="btn go w-100" role="button" aria-pressed="true">Continuar</a>
                            </div>
                        </div>
                    </div>

                    <!-- step 3 -->
                    <div class="step step-3">
                        <div class="row justify-content-center">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span></span>
                                    <span></span>
                                    <span class="actived"></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Endereço</h2>
                            </div>

                            <!-- CEP -->
                            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>CEP</b></p>
                                        <input type="text" class="form-control cep" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Buscar CEP -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="d-flex h-100 align-items-end">
                                    <a href="javascript:void(0);" class="btn type-2 w-100 mb-2">Consultar</a>
                                </div>
                            </div>

                            <!-- Logradouro -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Logradouro</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Número -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Número</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Complemento -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Complemento</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Bairro -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Bairro</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Estado -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-5 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Estado</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>UF</option>
                                            <option>SP</option>
                                            <option>RJ</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Município -->
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-7 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Município</b></p>
                                        <input type="text" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Comercial -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Telefone comercial</b></p>
                                        <input type="text" class="form-control telefone" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Presencial ou Online -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-3">
                                <div class="d-flex h-100 align-items-center">
                                    <div class="form-check d-flex justify-content-start align-items-center pl-0">
                                        <input class="" type="radio" name="checkendereco" id="checkendereco2" value="checkendereco2" checked>
                                        <label class="ml-2" for="checkendereco2">
                                            <span>Presencial</span>
                                        </label>
                                    </div>
                                    
                                    <div class="form-check d-flex justify-content-start align-items-center">
                                        <input class="" type="radio" name="checkendereco" id="checkendereco3" value="checkendereco3">
                                        <label class="ml-2" for="checkendereco3">
                                            <span>Online</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Estado -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Município que deseja realizar a prova</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>São Paulo</option>
                                            <option>Guarulhos</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-2" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-4" class="btn go w-100" role="button" aria-pressed="true">Continuar</a>
                            </div>
                        </div>
                    </div>

                    <!-- step 4 -->
                    <div class="step step-4">
                        <div class="row justify-content-center">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span class="actived"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Atendimento</h2>
                            </div>
                            
                            <!-- atendimento especial -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Necessita de algum atendimento especial para a realização da prova?</b></p>
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Escolha uma opção</option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- necessidades especial -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                                <p class="mb-0"><b>Escolha as opções</b></p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Tipo necessidade 1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Tipo necessidade 2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                    <label class="form-check-label" for="inlineCheckbox3">Tipo necessidade 3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                    <label class="form-check-label" for="inlineCheckbox4">Tipo necessidade 4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                    <label class="form-check-label" for="inlineCheckbox5">Tipo necessidade 5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                    <label class="form-check-label" for="inlineCheckbox6">Tipo necessidade 6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckboxDisabled" value="optiondisabled" disabled>
                                    <label class="form-check-label" for="inlineCheckboxDisabled">Tipo necessidade desativada</label>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                                <p class="mb-0"><b>Escolha as opções</b></p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Tipo necessidade radio 1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Tipo necessidade radio 2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                    <label class="form-check-label" for="inlineRadio3">Tipo necessidade radio 3</label>
                                </div>
                            </div>

                            <!-- Qtd -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Quantidade</b></p>
                                        <input type="number" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- arquivos -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                                <div class="form-group">
                                    <label for="formFile" class="form-label">
                                        <p class="mb-0"><b>Adicione um arquivo</b></p>
                                        <p><small><em>Arquivos permitidos: .PDF, .DOC, .XLS. Tamanho máximo: 1MB.</em></small></p>
                                        <input class="form-control" type="file" id="formFile">
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Observações -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                                <div class="form-group">
                                    <label for="formFile" class="form-label">
                                        <p class="mb-0"><b>Observações</b></p>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                    </label>
                                </div>
                            </div>

                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-3" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-5" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Continuar</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- step 5 -->
                    <div class="step step-5">
                        <div class="row justify-content-center">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span class="actived"></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Documentos</h2>
                            </div>

                            <!-- Documento de identificação -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3 mb-3">
                                <div class="form-group">
                                    <label for="formFile" class="form-label">
                                        <p class="mb-1"><b>Documento de identificação</b></p>
                                        <p class="mb-1"><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam architecto placeat, iste molestias perspiciatis hic. Ab iure minima sint, adipisci eaque doloremque ut quia. Facilis hic quod deserunt repellat quas!</small></p>
                                        <p><small><em><b>Arquivos permitidos: .PDF, .JPG, PNG. Tamanho máximo: 5MB.</b></em></small></p>
                                        <input class="form-control" type="file" id="formFile">
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Comprovante de Escolaridade -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3 mb-3">
                                <div class="form-group">
                                    <label for="formFile" class="form-label">
                                        <p class="mb-1"><b>Comprovante de Escolaridade</b></p>
                                        <p class="mb-1"><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam architecto placeat, iste molestias perspiciatis hic. Ab iure minima sint, adipisci eaque doloremque ut quia. Facilis hic quod deserunt repellat quas!</small></p>
                                        <p><small><em><b>Arquivos permitidos: .PDF, .JPG, PNG. Tamanho máximo: 5MB.</b></em></small></p>
                                        <input class="form-control" type="file" id="formFile">
                                    </label>
                                </div>
                            </div>

                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-4" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-6" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Continuar</a>
                            </div>
                        </div>
                    </div>

                    <!-- step 6 -->
                    <div class="step step-6">
                        <div class="row justify-content-center">

                            <!-- bullets -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4 step-bullet">
                                <div class="d-flex align-self-center justify-content-center">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span class="actived"></span>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Perfil</h2>
                            </div>
                            
                            <!-- Avatar -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2 pb-4 text-center">
                                <img src="/images/avatar.png" alt="" width="150">
                            </div>
                            
                            <!-- Senha -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Senha</b></p>
                                        <input type="password" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                                <p><small><i>A senha deve conter 8 caracteres com letras, números e caracteres especiais.</i></small></p>
                            </div>

                            <!-- Confirmar senha -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                                <div class="form-group">
                                    <label for="">
                                        <p class="mb-0"><b>Confirmar senha</b></p>
                                        <input type="password" class="form-control" id="" aria-describedby="" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Termo -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="termo" required>
                                    <span>Declaro que li e concordo com os <a href="#" target="_blank">Termos de Uso e Política de Privacidade</a>.</span>
                                </div>
                            </div>

                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a data-step="step-5" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <button type="button" class="btn w-100" role="button" aria-pressed="true" data-toggle="modal" data-target="#modalCadastro">Cadastrar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<!-- modal container -->
<div class="modal fade" id="modalCadastro" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCadastro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p><i class="fa fa-check fa-2x"></i></p>
                <h3>Cadastro realizado com sucesso!</h3>
                <p>Agora é necessário realizar o pagamento do curso. Falta pouco!</p>
                <a href="pagamento.html" class="btn">Continuar com pagamento <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="loading-susep"></div> -->