<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Cursos</a></li>
                        <li class="breadcrumb-item active"><a href="#">Gestão Emp. e Financeira</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3 class="title">
                    <span>EXAME SUSEP</span>
                    Gestão Empresarial e Financeira
                </h3>
            </div>
            <div class="stripe bg-success">
                Concluído
            </div>
        </div>
    </div>
</section>

<!-- Certificado -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                <h2>Certificado</h2>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12 col-12">
                <figure>
                    <a href="images/certificado.png" download>
                        <img src="images/certificado.png" alt="" class="img-fluid">
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Progresso -->
<section class="career mb-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Frequência</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span>#1 Economia</span>
                <div class="d-flex justify-content-between align-items-center frequency">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>25%</b></div>
                    </div>
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <hr>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span>#2 Finanças</span>
                <div class="d-flex justify-content-between align-items-center frequency">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><b>50%</b></div>
                    </div>
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <hr>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span>#3 Macro financeira</span>
                <div class="d-flex justify-content-between align-items-center frequency">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><b>75%</b></div>
                    </div>
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <hr>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span>#4 Engenharia Financeira</span>
                <div class="d-flex justify-content-between align-items-center frequency">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><b>100%</b></div>
                    </div>
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

<!-- Capítulos -->
<section class="career">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Capítulos</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 1</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 2</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 3</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 4</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 5</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 6</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 7</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 8</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 9</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="#">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 10</span>
                </a>
            </div>
        </div>
    </div>
</section>
