<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Cursos</a></li>
                        <li class="breadcrumb-item active"><a href="#">Gestão Emp. e Financeira</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<section class="video">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                <video width="100%" controls>
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" muted>
                    Your browser does not support the video tag.
                </video>
                <h3>#1 Economia <span class="text-uppercase">Gestão Emp. e Financeira</span></h3>
            </div>
        </div>
    </div>
</section>

<!-- Info -->
<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Capítulos</h2>
                
                <!-- box -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span>Precificaçao no mercado de seguros</span>
                                    <span>Quero realizar o curso e ter certificaçao</span>
                                    <span class="mt-2"><b><u>Acessar pra ler</u></b></span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="certificado.html">
                                    <i class="fa fa-clock-o text-warning"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- box -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span>Precificaçao no mercado de seguros</span>
                                    <span class="mt-2"><b><u>Acessar pra ler</u></b></span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="certificado.html">
                                    <i class="fa fa-clock-o text-warning"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h2>Outras referências</h2>

                <!-- box -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span>Artigos sobre precificaçao</span>
                                    <span class="mt-2"><b><u>www.website.com.br/artigo/seguros</u></b></span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="certificado.html">
                                    <i class="fa fa-clock-o text-warning"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
