<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="index.html"><u>Olá, Juliana</u></a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="perfil-usuario.html">Meu perfil</a></li>
                        <li><a href="editar-dados-pessoais.html">Editar meus dados</a></li>
                        <li><a href="#">Mensagens</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="#"><u>Sair</u></a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center pt-4">Atualize abaixo os seus dados pessoais:</p>
                
                <!-- formulário -->
                <form action="index.html" method="" class="validation" novalidate>
                    
                    <!-- Dados pessoais -->
                    <div class="stepEdit mb-4">
                        <div class="row justify-content-center">

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Dados pessoais</h2>
                            </div>
                            
                            <!-- Nome -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Nome Completo" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Data de Nascimento -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control dtnascimento" id="" aria-describedby="" placeholder="Data de Nascimento" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Nacionalidade -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Nacionalidade" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Nome da máe -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Nome da mãe" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Nome do pai -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Nome do pai" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Gênero -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Sexo</option>
                                            <option>Feminino</option>
                                            <option>Masculino</option>
                                            <option>Não informar</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- CPF -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <input type="text" class="form-control cpf" id="" aria-describedby="" placeholder="CPF" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- RG -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <input type="text" class="form-control rg" id="" aria-describedby="" placeholder="RG" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Orgão emissor -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Órgão Emissor</option>
                                            <option>SSP</option>
                                            <option>---</option>
                                            <option>------</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- UF Orgão emissor -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>UF do Órgão Emissor</option>
                                            <option>SP</option>
                                            <option>---</option>
                                            <option>------</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Raça -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Raça</option>
                                            <option>Negra</option>
                                            <option>Parda</option>
                                            <option>Indígena</option>
                                            <option>Branca</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Religião -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Religião</option>
                                            <option>Cristã</option>
                                            <option>Católico</option>
                                            <option>Ateu</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Ensino -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Nível do ensino</option>
                                            <option>Médio</option>
                                            <option>Superior</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Estado civil -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Estado civil</option>
                                            <option>Solteiro</option>
                                            <option>Casado</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control email" id="" aria-describedby="" placeholder="E-mail" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Fixo -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <input type="text" class="form-control fixo" id="" aria-describedby="" placeholder="Fixo" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Celular -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <input type="text" class="form-control telefone" id="" aria-describedby="" placeholder="Celular" required>
                                    </label>
                                </div>
                            </div>
                            
                            <!-- Comercial -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <input type="text" class="form-control telefone" id="" aria-describedby="" placeholder="Comercial" required>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Endereço -->
                    <div class="stepEdit mb-4">
                        <div class="row justify-content-center">

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Endereço</h2>
                            </div>

                            <!-- CEP -->
                            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control cep" id="" aria-describedby="" placeholder="CEP" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Buscar CEP -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                                <a href="javascript:void(0);" class="btn type-2 w-100">
                                Consultar
                                </a>
                            </div>

                            <!-- Endereço -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Endereço" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Número -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Número" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Complemento -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Complemento" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Bairro -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Bairro" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Cidade -->
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-7 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Cidade" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Estado -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-5 pt-2">
                                <div class="form-group">
                                    <label for="">
                                        <select class="form-control outline-none" required>
                                            <option value="" disabled selected hidden>Estado</option>
                                            <option>SP</option>
                                            <option>ES</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Perfil -->
                    <div class="stepEdit mb-4">
                        <div class="row justify-content-center">

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h2>Perfil</h2>
                            </div>
                            
                            <!-- Avatar -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2 pb-4 text-center">
                                <img src="/images/avatar.png" alt="" width="150">
                            </div>
                            
                            <!-- Senha -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="password" class="form-control" id="" aria-describedby="" placeholder="Senha" required>
                                    </label>
                                </div>
                                <p><small><i>A senha deve conter 8 caracteres com letras, números e caracteres especiais.</i></small></p>
                            </div>

                            <!-- Confirmar senha -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <div class="form-group">
                                    <label for="">
                                    <input type="password" class="form-control" id="" aria-describedby="" placeholder="Confirmar senha" required>
                                    </label>
                                </div>
                            </div>

                            <!-- Termo -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="termo" required>
                                    <span>Declaro que li e concordo com os <a href="#" target="_blank">Termos de Uso e Política de Privacidade</a>.</span>
                                </div>
                            </div>

                            <!-- CTA -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a href="index.html" id="back-to-step" class="btn w-100" role="button" aria-pressed="true"><i class="fa fa-arrow-left"></i> Voltar</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                <a href="javascript:void(0);" class="btn go w-100" role="button" aria-pressed="true">Atualizar <i class="fa fa-check"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
