<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- esqueci minha senha -->
<section class="login">
    <div class="container">
        <div class="row box justify-content-center">
    
            <!-- login -->
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 text-center align-self-center">
                <div class="card shadow p-3">
                    <div>
                        <h2 class="mt-3">Recuperar minha senha</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        
                        <!-- formulario -->
                        <form action="endereco.html" method="" class="validation" novalidate>
                    
                            <!-- step 1 -->
                            <div class="step step-1 opened">
                                <div class="row justify-content-center">
        
                                    <!-- CPF -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                        <div class="form-group">
                                            <label for="">
                                            <input type="text" class="form-control" id="cpfcnpj" aria-describedby="" placeholder="Digite seu CPF / CNPJ" required>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <!-- CTA -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a href="index.html" class="btn w-100" role="button" aria-pressed="true">Sair</a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-2" class="btn go w-100" role="button" aria-pressed="true">Prosseguir</a>
                                    </div>
                                </div>
                            </div>
        
                            <!-- step 2 -->
                            <div class="step step-2">
                                <div class="row justify-content-center">
        
                                    <!-- Data de Nascimento -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                        <div class="form-group">
                                            <label for="">
                                                <input type="text" class="form-control dtnascimento" id="" aria-describedby="" placeholder="Data de Nascimento" required>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <!-- CTA -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-1" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-3" class="btn go w-100" role="button" aria-pressed="true">Prosseguir</a>
                                    </div>
                                </div>
                            </div>
        
                            <!-- step 3 -->
                            <div class="step step-3 recover">
                                <div class="row justify-content-center">
                                    
                                    <!-- Documento de Identidade -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3>Selecione a sua identidade</h3>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="identidade" id="identidade1" value="identidade1" checked>
                                            <label class="" for="identidade1">
                                                <span>99.999.999-9</span>
                                            </label>
                                        </div>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="identidade" id="identidade2" value="identidade2" checked>
                                            <label class="" for="identidade2">
                                                <span>99.999.XXX-9</span>
                                            </label>
                                        </div>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="identidade" id="identidade3" value="identidade3" checked>
                                            <label class="" for="identidade3">
                                                <span>99.XXX.999-9</span>
                                            </label>
                                        </div>

                                    </div>
        
                                    <!-- CTA -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-2" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-4" class="btn go w-100" role="button" aria-pressed="true">Prosseguir</a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- step 4 -->
                            <div class="step step-4 recover">
                                <div class="row justify-content-center">
                                    
                                    <!-- Documento de Identidade -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3>Selecione o seu Endereço</h3>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="checkendereco" id="checkendereco1" value="checkendereco1" checked>
                                            <label class="" for="checkendereco1">
                                                <span>Rua Roldão Euphrasio Leal</span>
                                            </label>
                                        </div>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="checkendereco" id="checkendereco2" value="checkendereco2" checked>
                                            <label class="" for="checkendereco2">
                                                <span>Rua Gonçalves Ledo</span>
                                            </label>
                                        </div>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="checkendereco" id="checkendereco3" value="checkendereco3" checked>
                                            <label class="" for="checkendereco3">
                                                <span>Joao de Souza Celestino</span>
                                            </label>
                                        </div>

                                    </div>
        
                                    <!-- CTA -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-3" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-5" class="btn go w-100" role="button" aria-pressed="true">Prosseguir</a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- step 5 -->
                            <div class="step step-5 recover">
                                <div class="row justify-content-center">
                                    
                                    <!-- Documento de Identidade -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h3>Selecione o nome da sua mãe</h3>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="nomemae" id="nomemae1" value="nomemae1" checked>
                                            <label class="" for="nomemae1">
                                                <span>XXX XXX XXX</span>
                                            </label>
                                        </div>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="nomemae" id="nomemae2" value="nomemae2" checked>
                                            <label class="" for="nomemae2">
                                                <span>Nome da minha mãe</span>
                                            </label>
                                        </div>
                                        
                                        <div class="form-check d-flex justify-content-start align-items-center">
                                            <input class="" type="radio" name="nomemae" id="nomemae3" value="nomemae3" checked>
                                            <label class="" for="nomemae3">
                                                <span>Maria da Silva</span>
                                            </label>
                                        </div>

                                    </div>
        
                                    <!-- CTA -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a data-step="step-4" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                                        <a class="btn w-100" role="button" aria-pressed="true" data-toggle="modal" data-target="#modalCadastro">Concluir <i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal container -->
<div class="modal fade" id="modalCadastro" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCadastro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p><i class="fa fa-check fa-2x"></i></p>
                <h3>Senha recuperada com sucesso!</h3>
                <p>Enviamos um e-mail com uma senha temporária. Use-a para efetuar o login novamente, e em seguida troque a senha.</p>
                <a href="login.html" class="btn btn-primary">Realizar o login <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>