<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3 class="title">
                    <!-- <span>EXAME SUSEP</span> -->
                    Provas dos Exames de Certificação
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Exame Nacional -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                
                <h2>Sobre o exame</h2>
                <p>O Exame será  realizado de forma online presencial ou de forma online remotamente, por meio da plataforma disponibilizada pela FGV Conhecimento.</p>
                <p class="mb-5"><a href="#">Clique aqui para acessar o Edital.</a></p>
                
                <h3 class="mb-0">Insira abaixo o seu voucher:</h3>
                <div class="row mb-5">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                            </label>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <a href="inscricao-voucher.html" class="btn go w-100" role="button" aria-pressed="true">Enviar</a>
                    </div>
                </div>

                <h3>Ou escolha a melhor opção para você:</h3>
                <!-- Capitalização -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span class="mb-3"><strong>Capitalização</strong></span>
                                    <!-- <span><u>Quero realizar o curso e ter certificaçao</u></span> -->
                                    <span><b>Preço:</b> R$ XXX,00</span>
                                    <!-- <span><b>Carga horária:</b> XX horas</span> -->
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Vida e Previdência -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span class="mb-3"><strong>Vida e Previdência</strong></span>
                                    <span><b>Preço:</b> R$ XXX,00</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Ramos Elementares 1 -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span class="mb-3"><strong>Ramos Elementares 1</strong></span>
                                    <span><b>Preço:</b> R$ XXX,00</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Ramos Elementares 2 -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span class="mb-3"><strong>Ramos Elementares 2</strong></span>
                                    <span><b>Preço:</b> R$ XXX,00</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Prova -->
                <!-- <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="prova-cadastro.html">
                                    <span><strong>Prova</strong></span>
                                    <span><u>Quero agendar local e hora para realizar a prova</u></span>
                                    <span>Valor da Inscriçao: R$ 34,00</span>
                                    <span>Data da prova: 20/08/2021</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</section>