<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html">Entrar</a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <a href="index.html">
                    <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                </a>
            </div>
        </div>
    </div>
</header>

<!-- container home v3 -->
<section class="home-v3">

    <div class="bg-black pb-5">
        <div class="container">
            <!-- slide -->
            <div class="row justify-content-center mb-5">
                <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12">
                    <div id="slidehomev3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active bg-black slide-2">
                                <a href="https://seguros.conhecimento.fgv.br/Curso/EADTipos?CodCursoOferecido=3&tipo=ExamesCertificacao&CodEmpresa=5"></a>
                            </div>
                            <div class="carousel-item bg-black slide-1"></div>
                        </div>
                        <a class="carousel-control-prev" href="#slidehomev3" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                                <i class="fa fa-chevron-left"></i>
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#slidehomev3" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- tarje -->
            <div class="row justify-content-center mb-5">
                
                <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="tarje-home-v3 type-0">
                        <h1>HABILITAÇÃO PARA PROFISSIONAIS <br>DO MERCADO DE SEGUROS</h1>
                        <div></div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 col-12"></div>
            </div>

            <!-- content -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12 content-feature">
                    <p class="text-white">A Fundação Getulio Vargas, por meio da FGV Conhecimento, foi autorizada pela Superintendência de Seguros Privados (SUSEP) a atuar na formação e habilitação de profissionais que operam no mercado de seguros.</p>
                    <p class="text-white">O ingresso da FGV na produção e disseminação de conhecimento para o setor de seguros permitirá formar novos corretores e atualizar aqueles que buscam estar em sintonia com os desafios digitais e as transformações do mercado.</p>
                    <p class="text-white mb-0">Assim como em outras esferas do saber, a FGV busca a qualificação e o desenvolvimento dos profissionais desse setor, a fim de aprimorar toda a estrutura seguradora para corretores, empresas e clientes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container">
            <!-- content -->
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-3 col-lg-3 col-md-4 col-sm-12 col-12 text-right mb-5 mb-lg-0 pr-5">
                    <img src="images/exame-nacional.png" alt="" class="img-fluid" width="250">
                </div>
                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12">
                    <h2 class="mb-4">O CANDIDATO A CORRETOR DE SEGUROS PODE OBTER A HABILITAÇÃO POR MEIO DE:</h2>
                    <p class="mb-0"><span class="text-green nb">1</span>Exame Nacional de Habilitação; ou</p>
                    <p class="mb-0"><span class="text-green nb">2</span>Programa de Formação por ensino a distância (EaD).</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-green py-5">
        <div class="container">
            <!-- content -->
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-lg-right">
                    <div class="tarje-home-v3 type-2 mb-4 title">
                        <p class="text-green pr-4 tarje-text">1</p>
                        <div></div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12 pr-lg-4">
                    <h3>Exame Nacional de Habilitação para Corretores de Seguros (Capitalização, Vida e Previdência, e Danos)</h3>
                    <p>O Exame de Habilitação para Corretores de Seguros será realizado pelo menos duas vezes ao ano pela FGV Conhecimento.  A prova poderá ser realizada via plataforma on-line, de forma remota ou presencial, em unidades selecionadas previamente. A FGV possui larga experiência na organização de grandes exames, além de dispor de uma infraestrutura de alta tecnologia e segurança.</p>
                    <p>As provas serão realizadas em 2 dias, observando as seguintes áreas de atuação:</p>
                    <p>&bullet; Exame de Capitalização;</p>
                    <p>&bullet; Exame de Vida e Previdência;</p>
                    <p class="mb-0">&bullet; Danos (Antigo Ramos Elementares).</p>
                    <!-- <p class="mt-4 mb-0">
                        <a href="exame-nacional.html" class="go text-black"><u>Clique aqui para mais detalhes</u></a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-white py-5">
        <div class="container">
            <!-- content -->
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block text-center mb-5">
                    <span class="home-v3-concav type-1"></span>
                </div>
                <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12">
                    <h4 class="mb-5 pr-lg-4 link"><a href="https://conhecimento.fgv.br/sites/default/files/concursos/fgv_conhecimento_-_1o_regulamento_para_exame_nacional_corretor_de_seguros_v21.pdf" target="_blank">Regulamento nº 01/2021 - Exame de Certificação Nacional para Corretor de Seguros</a></h4>
                    <!-- <p class="mb-5 text-poppins">Julho de 2021</p> -->
                    <h4>PREVISÃO DE REALIZAÇÃO DA PROVA:</h4>
                    <p class="mb-5 text-poppins">Outubro de 2021</p>
                    <p>As inscrições abrem no dia <b>26/07/2021</b>.</p>
                    <p class="mb-1">&bullet; Período de inscrição do Exame Presencial: <b>26/07/2021</b> até <b>09/09/2021</b>.</p>
                    <p class="mb-0">&bullet; Período de inscrição do Exame Remoto: <b>26/07/2021</b> até <b>30/09/2021</b>.</p>
                    <!-- <p class="text-green mt-4 mb-0">
                        <a href="#" class="go">
                            <u>Inscreva-se</u>
                        </a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="bg-black py-5">
        <div class="container">
            <!-- content -->
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-lg-right">
                    <div class="tarje-home-v3 type-1 mb-4 title">
                        <p class="pr-4 tarje-text">2</p>
                        <div></div>
                    </div>
                    <div class="tarje-home-v3 type-1 no-art mb-5">
                        <p class="pr-4 tarje-text">EAD</p>
                        <div></div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12 text-white">
                    <h3 class="text-white">Programa de Formação para Corretores de <br>Seguros (EaD)</h3>
                    <p>A formação dos corretores de seguros é a chave para a evolução que se espera no mercado. A habilidade de tais profissionais em traduzir novos modelos e novas coberturas será um fator preponderante para a democratização do setor. O programa de formação da FGV Conhecimento propõe uma habilitação diferenciada do corretor para o mercado de trabalho e para o desenvolvimento de sua carreira profissional.</p>
                    <p>O objetivo é desenvolver o pensamento crítico e prático dos corretores, utilizando recursos de alta tecnologia, em uma combinação de aulas on-line ao vivo e gravadas, com a orientação de professores e tutores da FGV.</p>
                    <p>Com o propósito de contribuir com a formação do profissional do mercado de seguros, a FGV Conhecimento idealizou o Programa de Formação em Capitalização, Vida e Previdência, com duas modalidades: <b>Basic</b> e <b>Innovation</b>. O cumprimento da carga horária dos módulos e o êxito nas avaliações ao final de cada disciplina formarão um corretor habilitado e maduro para atuar no mercado de trabalho.</p>
                    <p class="mb-0">Aqueles que buscam uma atualização ou desejam se aprofundar em alguns temas também poderão cursar os módulos ou as disciplinas, de forma independente. Os alunos que garantirem frequência e aproveitamento mínimos receberão um Certificado da Fundação Getulio Vargas, representando um importante diferencial no mercado para os profissionais aprovados.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-white py-5">
        <div class="container">

            <!-- modulos -->
            <div class="row justify-content-center mb-5">
                <div class="col-xl-2 col-lg-2 col-md-3 d-none d-lg-block">
                    <span class="home-v3-concav type-2"></span>
                </div>
                <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12 home-v3-module-title align-items-center mb-5">
                    <div class="d-flex">
                        <span class="text-green">2.1</span>
                        <h5>Programa Basic de Corretores de Seguros – Capitalização, Vida e Previdência</h5>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-lg-right">
                    <div class="tarje-home-v3 type-3 mb-4">
                        <p class="pr-4 tarje-text">3 Módulos</p>
                        <div></div>
                    </div>
                    <div class="tarje-home-v3 type-3 no-art mb-5">
                        <p class="pr-4 tarje-text">Total: 130h</p>
                        <div></div>
                    </div>
                </div>
                
                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12">
                    <p>Realizado totalmente on-line, com aulas síncronas e assíncronas, o programa tem como objetivos: disseminar o conhecimento existente acerca do mercado de seguros, conduzir o aluno pelos novos desafios do setor e agregar valor à formação do corretor, futuro corretor e de outros profissionais que atuam no mercado.</p>
                    <p>O Programa possui três módulos, com o total de 130 horas:</p>
                    
                    <p class="mt-5"><b>Módulo I – Finanças e Gestão – 67 horas</b></p>
                    <ul class="pl-lg-4">
                        <li>Fundamentos da Operação de Seguros – 11 horas</li>
                        <li>Estratégia de Comercialização – 10 horas</li>
                        <li>Mercado Financeiro e Gestão Empresarial - 10 horas</li>
                        <li>Capitalização – 8 horas</li>
                        <li>Matemática Financeira – 28 horas</li>
                    </ul>
                    
                    <p class="mt-5"><b>Módulo II – Direito e Legislação – 18 horas</b></p>
                    <ul class="pl-lg-4">
                        <li>Direito do Seguro e Fundamentos Jurídicos – 12 horas</li>
                        <li>Legislação e Organização Profissional – 6 horas</li>
                    </ul>
                    
                    <p class="mt-5"><b>Módulo III – Pessoas e Previdência – 62 horas</b></p>
                    <ul class="pl-lg-4">
                        <li>Previdência Privada – 15 horas</li>
                        <li>Seguro de Pessoas – 30 horas</li>
                    </ul>

                    <p class="mt-4">
                        <a class="go">Em breve disponibilizaremos mais informações!</a>
                    </p>
                </div>
            </div>
            
            <!-- modulos -->
            <div class="row justify-content-center">
                <div class="col-xl-2 col-lg-2 col-md-3 d-none d-lg-block"></div>
                <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12 home-v3-module-title align-items-center mb-5">
                    <div class="d-flex">
                        <span class="text-green">2.2</span>
                        <h5>Programa Innovation de Corretores de Seguros – Capitalização, Vida e Previdência</h5>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-lg-right">
                    <div class="tarje-home-v3 type-3 mb-4">
                        <p class="pr-4 tarje-text">4 Módulos</p>
                        <div></div>
                    </div>
                    <div class="tarje-home-v3 type-3 no-art mb-5">
                        <p class="pr-4 tarje-text">Total: 190h</p>
                        <div></div>
                    </div>
                </div>

                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12">
                    <p>Realizado totalmente on-line, com aulas síncronas e assíncronas, o curso é o complemento do Programa de Formação Basic. Tem como principal objetivo discutir as inovações e tendências do mercado de seguros no Brasil e no mundo, além de esmiuçar os novos conceitos do setor, para que o aluno adquira conhecimento diferenciado e tenha condições de trilhar novos caminhos.</p>
                    <p>O Programa é composto pelos Módulos I, II e III do Programa Basic para corretores e de um módulo adicional de inovação, com total de 190 horas de aula:</p>

                    <p class="mt-5"><b>Módulo IV – Inovação e Seguro - 61 horas</b></p>
                    <ul class="pl-lg-4">
                        <li>Inovação e Seguro – 20 horas</li>
                        <li>Relações de Consumo – 12 horas</li>
                        <li>Saúde Suplementar – 17 horas</li>
                        <li>Market Place e Marketing Digital – 12 horas</li>
                    </ul>

                    <p class="text-green mt-4 mb-0">
                        <a class="go">Em breve disponibilizaremos mais informações!</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-white pt-3 pb-5">
        <div class="container">
            <!-- content -->
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-right mb-5 pr-5 mb-lg-0">
                    <img src="images/corpo-docente.png" alt="" class="img-fluid" width="250">
                </div>
                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-12">
                    <h2 class="mb-5">CORPO DOCENTE</h2>
                    <p>O corpo acadêmico da FGV Conhecimento é integrado por profissionais da área de seguros altamente especializados, professores, juristas, magistrados, que são referências em suas áreas de atuação, com mestrado e/ou doutorado.</p>
                    <p class="mb-0">A seleção também valoriza a experiência de ensino e os conhecimentos exigidos para a habilitação.</p>
                </div>
            </div>
        </div>
    </div>

</section>