<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3 class="title">
                    Provas dos Exames de Certificação
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end align-items-center">
                    <h2>Voucher</h2>
                </div>
            </div>
            
            <!-- Descrição -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                <p>O seu voucher foi adquirido pela empresa: <strong>GT Mobil Informática LTDA</strong>, em 06/07/2021.</p>
                <p>Para prosseguir, realize o seu cadastro e inscreva-se no exame: <strong>Provas - Ramos Elementares II</strong>.</p>
                <p>Caso já esteja cadastrado, <a href="login.html">clique aqui</a> para realizar o seu login.</p>
            </div>

            <!-- CTA -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                <a href="exame-nacional.html" id="back-to-step" class="btn w-100" role="button" aria-pressed="true">Voltar</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-3">
                <a href="cadastro.html" class="btn go w-100" role="button" aria-pressed="true">Continuar</a>
            </div>
        </div>
    </div>
</section>