<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="perfil-usuario-pj.html"><u>Olá, GT Mobil</u></a></li>
                        <li><a href="perfil-usuario-pj.html">Meus Dados</a></li>
                        <li><a href="editar-dados-pessoais.html">Editar Meus Dados</a></li>
                        <li><a href="listar-voucher.html">Meus Vouchers</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="login.html"><u>Sair</u></a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Produtos -->
<section class="profile-user user-pj">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <h2 class="title">GT Mobil Informática LTDA</h2>
                <h3>Área de Vouchers</h3>
            </div>

            <!-- lista de vouchers -->
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 col-12">
                <h2>Vouchers</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, accusamus repellat, officiis reprehenderit veniam magni a quo veritatis dolorum totam fugit rem voluptate, et temporibus. Eaque tempora quos recusandae excepturi.</p>
                <p><a href="#">Baixar</a></p>
                <div class="table-responsive mb-5">
                    <table class="table table-striped">
                        <thead>
                            <tr class="bg-table-black text-white">
                                <th scope="col" class="align-middle">#</th>
                                <th scope="col" class="align-middle">Data de Aquisição</th>
                                <th scope="col" class="align-middle">Produto</th>
                                <th scope="col" class="align-middle">Voucher</th>
                                <th scope="col" class="align-middle">CPF / Nome</th>
                                <th scope="col" class="align-middle text-right">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="align-middle">1</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">2</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">3</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">4</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">5</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">6</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">7</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">8</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">9</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">10</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">11</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">12</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">13</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">14</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">15</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">16</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">17</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">18</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">19</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">20</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">21</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">22</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">23</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">24</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">25</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">26</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">27</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">28</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-danger">Em atraso</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">29</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-success">Ativo</span></td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">30</th>
                                <td class="align-middle">07/07/2021</td>
                                <td class="align-middle">Provas - Capitalização</td>
                                <td class="align-middle">2ZJ7p%(OoN@f0an</td>
                                <td class="align-middle">567.476.110-80</td>
                                <td class="align-middle text-right"><span class="text-warning">Pendente</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
