<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- login -->
<section class="login">
    <div class="container">
        <div class="row box justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 text-center align-self-center">
                <div class="card shadow">
                    <div>
                        
                        <h2 class="mt-4">Login</h2>
        
                        <!-- formulario -->
                        <form class="validation text-left mt-4" method="#" action="#" novalidate>
                            <fieldset>
                                <div class="container">
                                    <div class="row">
    
                                        <!-- usuario -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                            <div class="form-group">
                                                <label for="user">
                                                    <input type="text" class="form-control" id="cpfcnpj" placeholder="Digite seu CPF / CNPJ" required>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <!-- senha -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                            <div class="form-group">
                                                <label for="pass">
                                                    <input type="password" class="form-control" id="pass" placeholder="Digite a senha" required>
                                                </label>
                                            </div>
                                        </div>
        
                                        <!-- voltar -->
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                            <div class="form-group">
                                                <a href="#" role="button" class="btn w-100">Voltar</a>
                                            </div>
                                        </div>
    
                                        <!-- entrar -->
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                            <div class="form-group">
                                                <button class="btn w-100" type="submit">Entrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        
                        <!-- recuperar senha -->
                        <div class="card-footer">
                            <a href="esqueci-a-senha.html"> <!-- data-toggle="modal" data-target="#modalRecuperarSenha" -->
                                <u>Esqueceu a senha?</u>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal recuperar senha -->
<div class="modal fade" id="modalRecuperarSenha" tabindex="-1" role="dialog" aria-labelledby="modalRecuperarSenha" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header mt-4 border-0">
                <h2 class="modal-title text-center w-100" id="">Recuperar senha</h2>
            </div>
            <div class="modal-body">
                <div class="form-group mb-0">
                    <label for="emailUser">
                        <input type="email" class="form-control" id="emailUser" placeholder="Digite seu E-mail" required>
                    </label>
                </div>
            </div>
            <div class="modal-footer border-0 text-center mb-4">
                <a href="login.html" role="button" class="btn w-100">Enviar</a>
            </div>
        </div>
    </div>
</div>