<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Cursos</a></li>
                        <li class="breadcrumb-item active"><a href="#">Gestão Emp. e Financeira</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3 class="title">
                    <span>EXAME SUSEP</span>
                    Gestão Empresarial e Financeira
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Cursos -->
<section class="career">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Capítulos</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 1</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 2</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 3</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 4</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 5</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 6</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 7</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 8</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 9</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pb-4">
                <a href="cursos.html">
                    <figure>
                        <span></span>
                        <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    </figure>
                    <span>#capitulo 10</span>
                </a>
            </div>
        </div>
    </div>
</section>
