<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3 class="title">
                    <span>FGV SEGUROS</span>
                    Programa Basic de Corretores de Seguros – Capitalização, Vida e Previdência
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Programa completo -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                
                <h3>Sobre os Módulos</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non temporibus quasi incidunt. Voluptatibus eos cupiditate ipsum veniam praesentium? Magni saepe a, molestias tenetur fuga ad natus ratione maiores odio impedit!</p>
                <p class="mb-5"><a href="#">Clique aqui para acessar o Regulamento.</a></p>
                <h3>Escolha a melhor opçao para você</h3>

                <!-- Módulo 1 -->
                <div class="pb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                    <a href="cadastro.html">
                                        <span><strong>Finanças e Gestão</strong></span>
                                        <!-- <span><u>Quero realizar o curso e ter certificaçao</u></span> -->
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                    <a href="#" class="d-block"><i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-toggle="collapse" href="#modulo1" role="button" aria-expanded="false" aria-controls="modulo1" class="d-block mb-3"><i class="fa fa-chevron-down"></i> Mais detalhes</a>
                    <div id="modulo1" class="collapse">
                        <p class="mb-1"><b>Preço:</b> R$ XXX,00.</p>
                        <p><b>Carga horária:</b> XX horas.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia corporis quos dolore, alias velit quibusdam totam est debitis, accusantium rerum libero, at neque dolores? Quasi, porro. Quo, totam ratione!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatem numquam natus odit amet ipsum nam quaerat recusandae. Illum cum, quibusdam maiores dolorem accusamus vero natus sed suscipit ipsam delectus.</p>
                    </div>
                </div>
                
                <!-- Módulo 2 -->
                <div class="pb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                    <a href="cadastro.html">
                                        <span><strong>Direito e Legislação</strong></span>
                                        <!-- <span><u>Quero realizar o curso e ter certificaçao</u></span> -->
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                    <a href="cadastro.html" class="d-block"><i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-toggle="collapse" href="#modulo2" role="button" aria-expanded="false" aria-controls="modulo2" class="d-block mb-3"><i class="fa fa-chevron-down"></i> Mais detalhes</a>
                    <div id="modulo2" class="collapse">
                        <p class="mb-1"><b>Preço:</b> R$ XXX,00.</p>
                        <p><b>Carga horária:</b> XX horas.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia corporis quos dolore, alias velit quibusdam totam est debitis, accusantium rerum libero, at neque dolores? Quasi, porro. Quo, totam ratione!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatem numquam natus odit amet ipsum nam quaerat recusandae. Illum cum, quibusdam maiores dolorem accusamus vero natus sed suscipit ipsam delectus.</p>
                    </div>
                </div>
                
                <!-- Módulo 3 -->
                <div class="pb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                    <a href="cadastro.html">
                                        <span><strong>Pessoas e Previdência</strong></span>
                                        <!-- <span><u>Quero realizar o curso e ter certificaçao</u></span> -->
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                    <a href="cadastro.html" class="d-block"><i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-toggle="collapse" href="#modulo3" role="button" aria-expanded="false" aria-controls="modulo3" class="d-block mb-3"><i class="fa fa-chevron-down"></i> Mais detalhes</a>
                    <div id="modulo3" class="collapse">
                        <p class="mb-1"><b>Preço:</b> R$ XXX,00.</p>
                        <p><b>Carga horária:</b> XX horas.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia corporis quos dolore, alias velit quibusdam totam est debitis, accusantium rerum libero, at neque dolores? Quasi, porro. Quo, totam ratione!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatem numquam natus odit amet ipsum nam quaerat recusandae. Illum cum, quibusdam maiores dolorem accusamus vero natus sed suscipit ipsam delectus.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>