<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end align-items-center">
                    <h2>Pagamento</h2>
                    <a href="pagamento.html">Voltar</a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                
                <h3>Detalhes</h3>
                <p>EAD Gestao Empresarial e Financeira</p>

                <hr>
                <div class="d-flex justify-content-between">
                    <span>Total</span>
                    <span><b>R$ 320,00</b></span>
                </div>
                <hr>
                
                <h3 class="mt-5">Dados do Cartão de Crédito</h3>

                <!-- formulário -->
                <form action="#" method="" class="validation" novalidate>
                    <div class="row justify-content-center">

                        <!-- Nome no Cartão -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <p class="mb-0"><b>Nome do cartão</b></p>
                                    <input type="text" class="form-control" id="" aria-describedby="" required>
                                </label>
                            </div>
                        </div>

                        <!-- Número do Cartão -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <p class="mb-0"><b>Número do cartão</b></p>
                                    <input type="text" class="form-control" id="" aria-describedby="" required>
                                </label>
                            </div>
                        </div>

                        <!-- Validade -->
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <p class="mb-0"><b>Validade</b></p>
                                    <input type="tel" class="form-control" id="" aria-describedby="" required>
                                </label>
                            </div>
                        </div>

                        <!-- CVV -->
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <p class="mb-0"><b>CVV</b></p>
                                    <input type="text" class="form-control" id="" aria-describedby="" required>
                                </label>
                            </div>
                        </div>
                        
                        <!-- Formas de pgto -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <p class="mb-0"><b>Formas de pagamento</b></p>
                                    <select class="form-control outline-none">
                                        <option>Escolha uma opção</option>
                                        <option>1x de R$ 320,00 sem juros</option>
                                        <option>--</option>
                                        <option>---</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="button" class="btn w-100" role="button" aria-pressed="true" data-toggle="modal" data-target="#modalPagamento">Pagar <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- modal container -->
<div class="modal fade" id="modalPagamento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalPagamento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p><i class="fa fa-check fa-2x"></i></p>
                <h3>Pagamento realizado com sucesso!</h3>
                <p>Pronto! Aproveite para começar seu curso e garantir sua certificaçao.</p>
                <a href="perfil-usuario.html" class="btn">Acessar meu curso <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>