<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end align-items-center">
                    <h2>Pagamento</h2>
                    <a href="pagamento.html">Voltar</a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2 align-self-center">
                
                <h3>Detalhes</h3>
                <p>EAD Gestao Empresarial e Financeira</p>

                <hr>
                <div class="d-flex justify-content-between">
                    <span>Total</span>
                    <span><b>R$ 320,00</b></span>
                </div>
                <hr>
            </div>

            <!-- Bandeiras -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pb-4">
                <p class="mb-3"><b>Escolha a bandeira</b></p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">
                        <img src="/images/mastercard.png" width="100" alt="bandeira mastercard" title="Mastercard">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">
                        <img src="/images/visa.png" width="100" alt="bandeira visa" title="Visa">
                    </label>
                </div>
            </div>

            <!-- Formas de pgto -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                <div class="form-group">
                    <label for="">
                        <p class="mb-0"><b>Parcelamento</b></p>
                        <select class="form-control outline-none">
                            <option>Escolha uma opção</option>
                            <option>1x de R$ 320,00 sem juros</option>
                            <option>--</option>
                            <option>---</option>
                        </select>
                    </label>
                </div>
            </div>

            <!-- btn prosseguir -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                <button type="button" class="btn w-100" role="button" aria-pressed="true" data-toggle="modal" data-target=".bd-example-modal-xl">Prosseguir</button>
            </div>
        </div>
    </div>
</section>


<!-- modal iframe -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9 embed-payment">
                <iframe class="embed-responsive-item" src="https://siteseguro.fgv.br/fgv/esitef/homolog/default.aspx?nm_cartao=VISA&nr_seq_pedido=258517&linguagem=" frameborder="0" height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn w-100" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>