<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="perfil-usuario-pj.html"><u>Olá, GT Mobil</u></a></li>
                        <li><a href="perfil-usuario-pj.html">Meus Dados</a></li>
                        <li><a href="editar-dados-pessoais.html">Editar Meus Dados</a></li>
                        <li><a href="listar-voucher.html">Meus Vouchers</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="login.html"><u>Sair</u></a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Produtos -->
<section class="profile-user user-pj">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <h2 class="title">GT Mobil Informática LTDA</h2>
                <h3>Área de Produtos</h3>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-4 p-0 text-center">
                <div class="option-user d-flex align-items-center">
                    <a id="meuscursos"      href="javascript:void(0);" class="actived">Meus produtos</a>
                    <a id="outroscursos"    href="javascript:void(0);">Outros produtos</a>
                </div>
            </div>

            <!-- meus produtos -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 option-user-container meuscursos">

                <!-- filtro -->
                <div class="mb-5">
                    <p><b>Filtrar:</b></p>
                    
                    <!-- categoria -->
                    <div class="form-group">
                        <label for="">
                            <select class="form-control outline-none" required>
                                <option value="" disabled selected hidden>Selecione uma categoria</option>
                                <option>Produtos</option>
                                <option>Módulos</option>
                                <option>Disciplinas</option>
                            </select>
                        </label>
                    </div>
                    
                    <!-- subcategoria -->
                    <div class="form-group">
                        <label for="">
                            <select class="form-control outline-none">
                                <option value="" disabled selected hidden>Selecione uma subcategoria</option>
                                <option>--</option>
                                <option>---</option>
                                <option>------</option>
                            </select>
                        </label>
                    </div>
                </div>
                
                <!-- novos cursos -->
                <h2>Novos Produtos</h2>
                <div class="d-flex align-items-center w-100 mb-5">
                    <a href="#">
                        <img src="/images/thumb-produtos.png" alt="" width="100" class="mr-3">
                    </a>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <a href="#">Iniciar curso</a>
                    </div>
                </div>
                
                <!-- em andamento -->
                <h2>Em andamento</h2>
                <div class="d-flex align-items-center w-100 mb-5">
                    <p><i>Não há produtos em andamento até o momento.</i></p>
                </div>
                
                <!-- aguardando pgto -->
                <h2>Aguardando pagamento</h2>
                <div class="d-flex align-items-center w-100 mb-3 pending">
                    <a href="#">
                        <img src="/images/thumb-produtos.png" alt="" width="100" height="100" class="mr-3">
                    </a>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <a href="#">Iniciar curso</a>
                    </div>
                </div>
                
                <div class="d-flex align-items-center w-100 mb-5 pending">
                    <a href="#">
                        <img src="/images/thumb-produtos.png" alt="" width="100" height="100" class="mr-3">
                    </a>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <a href="#">Iniciar curso</a>
                    </div>
                </div>
            </div>
            
            <!-- outros produtos -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 option-user-container outroscursos d-none">

                <!-- filtro -->
                <div class="mb-5">
                    <p><b>Filtrar:</b></p>
                    
                    <!-- categoria -->
                    <div class="form-group">
                        <label for="">
                            <select class="form-control outline-none" required>
                                <option value="" disabled selected hidden>Selecione uma categoria</option>
                                <option>Produtos</option>
                                <option>Módulos</option>
                                <option>Disciplinas</option>
                            </select>
                        </label>
                    </div>
                    
                    <!-- subcategoria -->
                    <div class="form-group">
                        <label for="">
                            <select class="form-control outline-none">
                                <option value="" disabled selected hidden>Selecione uma subcategoria</option>
                                <option>--</option>
                                <option>---</option>
                                <option>------</option>
                            </select>
                        </label>
                    </div>
                </div>
                
                <!-- comprar curso -->
                <h2>Outros Produtos</h2>
                <div class="mb-5">
                    <div class="d-flex align-items-center w-100">
                        <a href="#">
                            <img src="/images/thumb-produtos.png" alt="" width="100" height="100" class="mr-3">
                        </a>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <h3>R$ 100,00</h3>
                        </div>
                    </div>
                    <a href="#" class="btn mt-3 w-100">comprar</a>
                </div>
                
                <!-- comprar curso -->
                <div class="mb-5">
                    <div class="d-flex align-items-center w-100">
                        <a href="#">
                            <img src="/images/thumb-produtos.png" alt="" width="100" height="100" class="mr-3">
                        </a>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <h3>R$ 50,00</h3>
                        </div>
                    </div>
                    <a href="#" class="btn mt-3 w-100">comprar</a>
                </div>
                
                <!-- comprar curso -->
                <div class="mb-5">
                    <div class="d-flex align-items-center w-100">
                        <a href="#">
                            <img src="/images/thumb-produtos.png" alt="" width="100" height="100" class="mr-3">
                        </a>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <h3>R$ 25,00</h3>
                        </div>
                    </div>
                    <a href="#" class="btn mt-3 w-100">comprar</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
