<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- breadcrumb -->
<section class="breadcrumb-container">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3 class="title">
                    <span>FGV SEGUROS</span>
                    Programa Basic de Corretores de Seguros – Capitalização, Vida e Previdência
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Programa completo -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                
                <h3>Sobre o Programa</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non temporibus quasi incidunt. Voluptatibus eos cupiditate ipsum veniam praesentium? Magni saepe a, molestias tenetur fuga ad natus ratione maiores odio impedit!</p>
                <p class="mb-5"><a href="#">Clique aqui para acessar o Regulamento.</a></p>
                <h3>Escolha a melhor opçao para você</h3>

                <!-- Programa Completo -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="cadastro.html">
                                    <span class="mb-3"><strong>Programa Completo</strong></span>
                                    <!-- <span><u>Quero realizar o curso e ter certificaçao</u></span> -->
                                    <span><b>Preço:</b> R$ XXX,00</span>
                                    <!-- <span><b>Carga horária:</b> XX horas</span> -->
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="cadastro.html">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Módulos -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="modulos.html">
                                    <span><strong>Módulos</strong></span>
                                    <!-- <span><b>Preço:</b> R$ XXX,00</span> -->
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="modulos.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Disciplinas -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="disciplinas.html">
                                    <span><strong>Disciplinas</strong></span>
                                    <!-- <span><b>Preço:</b> R$ XXX,00</span> -->
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="disciplinas.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>