<!-- Topo 1 -->
<header class="type-1 mb-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-8 align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center text-right">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li class="d-flex align-items-center label-user">
                            Olá, Thiago
                        </li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Meu perfil</a></li>
                        <li><a href="editar-dados-pessoais.html">Editar meus dados</a></li>
                        <li><a href="meus-cursos.html">Meus cursos</a></li>
                        <li><a href="#">Mensagens</a></li>
                        <li><a href="#"><u>Sair</u></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center">Vamos começar o seu cadastro.</p>

                <!-- formulário -->
                <form action="#" method="" class="validation" novalidate><!--novalidate-->

                    <!-- step 3 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Perfil</h2>
                        </div>
                        
                        <!-- Avatar -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2 pb-4 text-center">
                            <img src="/images/avatar.png" alt="" width="150">
                        </div>
                        
                        <!-- Senha -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Senha" required>
                                </label>
                            </div>
                            <p><small><i>A senha deve conter 8 caracteres com letras, números e caracteres especiais.</i></small></p>
                        </div>

                        <!-- Confirmar senha -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Confirmar senha" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="termo" required>
                                <span>Declaro que li e concordo com os <a href="#" target="_blank">Termos de Uso e Política de Privacidade</a>.</span>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="button" class="btn w-100" role="button" aria-pressed="true" data-toggle="modal" data-target="#modalCadastro">Cadastrar <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- modal container -->
<div class="modal fade" id="modalCadastro" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCadastro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p><i class="fa fa-check fa-2x"></i></p>
                <h3>Cadastro realizado com sucesso!</h3>
                <p>Agora é necessário realizar o pagamento do curso. Falta pouco!</p>
                <a href="prova-pagamento.html" class="btn btn-primary">Continuar com pagamento <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>