<!-- Topo 1 -->
<header class="type-1 mb-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-8 align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center text-right">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li class="d-flex align-items-center label-user">
                            Olá, Thiago
                        </li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Meu perfil</a></li>
                        <li><a href="editar-dados-pessoais.html">Editar meus dados</a></li>
                        <li><a href="meus-cursos.html">Meus cursos</a></li>
                        <li><a href="#">Mensagens</a></li>
                        <li><a href="#"><u>Sair</u></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center">Vamos começar o seu cadastro.</p>
                <!-- formulário -->
                <form action="prova-perfil.html" method="" class="validation" novalidate><!--novalidate-->
                    <!-- step 2 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Endereço</h2>
                        </div>
                        <!-- CEP -->
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="CEP" required>
                                </label>
                            </div>
                        </div>
                        <!-- Buscar CEP -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                            <a href="" class="btn type-2 w-100">
                            Consultar
                            </a>
                        </div>
                        <!-- Endereço -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Endereço" required>
                                </label>
                            </div>
                        </div>
                        <!-- Número -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Número" required>
                                </label>
                            </div>
                        </div>
                        <!-- Complemento -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Complemento" required>
                                </label>
                            </div>
                        </div>
                        <!-- Bairro -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Bairro" required>
                                </label>
                            </div>
                        </div>
                        <!-- Cidade -->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-7 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Cidade" required>
                                </label>
                            </div>
                        </div>
                        <!-- Estado -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-5 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <select class="form-control outline-none">
                                        <option selected disabled>Estado</option>
                                        <option>SP</option>
                                        <option>RJ</option>
                                        <option>RS</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" role="button" aria-pressed="true">Continuar <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>