<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Locais da Prova -->
<section class="schedule">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Data e hora</h2>
            </div>

            <!-- Localização da prova -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                <div class="d-flex align-items-center">
                    <figure>
                        <span>
                            <i class="fa fa-map-marker fa-2x"></i>
                        </span>
                    </figure>
                    <div>
                        <h3 class="mb-1">Local da prova</h3>
                        <span>Av. Sao Paulo, 600 Centro, Rio de Janeiro - RJ</span>
                    </div>
                </div>
            </div>

            <!-- Calendário -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Seg</th>
                                <th scope="col">Ter</th>
                                <th scope="col">Qua</th>
                                <th scope="col">Qui</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Sab</th>
                                <th scope="col">Dom</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-secondary">29</td>
                                <td class="text-secondary">30</td>
                                <td class="text-secondary">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>
                                    <span class="selected">7</span>
                                </td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>
                                    <span class="selected">24</span>
                                </td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td class="text-secondary">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Datas e horários -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3>Data e Horários</h3>
                
                <div class="form-check d-flex justify-content-between align-items-center">
                    <label class="" for="exampleRadios1">
                        <h4>24/07/2021 - 10:00</h4>
                    </label>
                    <input class="" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                </div>
                <div class="form-check d-flex justify-content-between align-items-center">
                    <label class="" for="exampleRadios2">
                        <h4>24/07/2021 - 10:00</h4>
                    </label>
                    <input class="" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                </div>
                
                <button type="button" class="btn w-100 my-3" role="button" aria-pressed="true" data-toggle="modal" data-target="#modalProvaAgendada">Cadastrar <i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
</section>

<!-- modal container -->
<div class="modal fade" id="modalProvaAgendada" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalProvaAgendada" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p><i class="fa fa-calendar fa-2x"></i></p>
                <h3>Prova agendada!</h3>
                <p>Você receberá um e-mail com os detalhes da prova.</p>

                <div class="text-left my-4">
                    <p class="mb-1"><b>Local da prova</b></p>
                    <p>Av. Sao Paulo, 600 Centro <br>Rio de Janeiro - RJ</p>

                    <p class="mb-1"><b>Data e Hora</b></p>
                    <span>24 de Julho de 2021 às 14:00</span>

                    <p class="mt-4">
                        <small><i>Você também pode consultar ou cancelar seu agendamento no menu "Perfil" de sua área logada.</i></small>
                    </p>
                </div>

                <a href="meus-cursos.html" class="btn w-100">Meu perfil</a>
            </div>
        </div>
    </div>
</div>

