<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end align-items-center">
                    <h2>Pagamento</h2>
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                
                <h3>Detalhes</h3>
                <p>EAD Gestao Empresarial e Financeira</p>

                <hr>
                <div class="d-flex justify-content-between">
                    <span>Total</span>
                    <span><b>R$ 320,00</b></span>
                </div>
                <hr>

                <h3 class="mt-5">Forma de pagamento</h3>

                <!-- Cartão de Crédito -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center">
                                <a href="pagamento-cartao.html" class="d-block">
                                    <img src="/images/cartao.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8 align-self-center">
                                <a href="pagamento-cartao.html" class="d-block">
                                    <span><b>Cartão de Crédito</b> <br> <small>Mastercard e Visa</small></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Boleto Bancário -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center">
                                <a href="pagamento-cartao.html" class="d-block">
                                    <img src="/images/boleto.png" alt="" class="img-fluid">
                                </a>
                            </div>                            
                            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8 align-self-center">
                                <a href="pagamento-cartao.html" class="d-block">
                                    <span><b>Boleto Bancário</b></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
