<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Locais da Prova -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Local da prova</h2>
                <p>Escolha a melhor opção para você</p>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="prova-agenda.html" class="d-block">
                                    <span><b>Local Prova 1</b></span>
                                    <span>Av. Copacabana, 1000 Centro, Rio de Janeiro - RJ</span>
                                    <span class="mt-4"><b>Horário:</b> 10h30 às 12h00.</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="prova-agenda.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="prova-agenda.html" class="d-block">
                                    <span><b>Local Prova 2</b></span>
                                    <span>Av. Copacabana, 1000 Centro, Rio de Janeiro - RJ</span>
                                    <span class="mt-4"><b>Horário:</b> 10h30 às 12h00.</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="prova-agenda.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="prova-agenda.html" class="d-block">
                                    <span><b>Local Prova 3</b></span>
                                    <span>Av. Sao Paulo, 600 Centro, Rio de Janeiro - RJ</span>
                                    <span class="mt-4"><b>Horário:</b> 10h30 às 12h00.</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="prova-agenda.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="prova-agenda.html" class="d-block">
                                    <span><b>Local Prova 4</b></span>
                                    <span>Av. Sao Paulo, 600 Centro, Rio de Janeiro - RJ</span>
                                    <span class="mt-4"><b>Horário:</b> 10h30 às 12h00.</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="prova-agenda.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="prova-agenda.html" class="d-block">
                                    <span><b>Local Prova 5</b></span>
                                    <span>Av. Copacabana, 1000 Centro, Rio de Janeiro - RJ</span>
                                    <span class="mt-4"><b>Horário:</b> 10h30 às 12h00.</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="prova-agenda.html">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
