<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Regulamento</h2>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iusto <b>quasi</b>, doloribus perspiciatis, eaque quaerat hic sint nesciunt ut laboriosam iste architecto commodi reprehenderit facilis ullam tempore, fugit eveniet voluptatibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores totam perferendis tenetur animi. Est non perferendis similique laudantium veniam in, sapiente commodi veritatis cumque a ad cum at quas enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iusto quasi, doloribus perspiciatis, eaque quaerat hic sint nesciunt ut laboriosam iste architecto commodi reprehenderit facilis ullam tempore, fugit eveniet voluptatibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores totam perferendis tenetur animi. Est non perferendis similique laudantium veniam in, sapiente commodi veritatis cumque a ad cum at quas enim?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iusto quasi, doloribus perspiciatis, eaque quaerat hic sint nesciunt ut laboriosam iste architecto commodi reprehenderit facilis ullam tempore, fugit eveniet voluptatibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores totam perferendis tenetur animi. Est non perferendis similique <em>laudantium veniam in</em>, sapiente commodi veritatis cumque a ad cum at quas enim?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <a href="">Quae temporibus</a> repellendus non iste! Vel praesentium ab nostrum nam adipisci dolore doloribus molestias sapiente excepturi dolorem dolor doloremque architecto, magni illum!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio corrupti voluptate beatae laborum dolore quis incidunt repellendus esse tempora, molestiae, dolorem labore eveniet nostrum voluptatum quasi harum quas sit illo! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum quisquam quo numquam ex officia. Fugit, dolor excepturi! Architecto minima sed reiciendis molestiae dignissimos, ipsa dicta reprehenderit corporis obcaecati neque quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto labore, debitis obcaecati veritatis eum itaque architecto, doloremque atque vitae minus nostrum consequuntur error.</p>

                <h3>Alias repellat sint quidem sapiente quisquam.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, perspiciatis architecto iure amet, quo veniam sed vel quos eos laboriosam quidem, iusto nemo totam magnam quaerat reiciendis. Mollitia, incidunt fugit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam praesentium provident animi maxime non in, soluta dolorum nostrum eius at recusandae sapiente facilis consectetur illo quis officia minima debitis ipsum?</p>

                <ul class="pl-4 my-3">
                    <li>&bullet; Excepturi possimus suscipit quos ad nulla qui eaque voluptatibus</li>
                    <li>&bullet; Excepturi possimus suscipit quos ad nulla qui eaque voluptatibus</li>
                    <li>&bullet; Excepturi possimus suscipit quos ad nulla qui eaque voluptatibus</li>
                </ul>

                <a href="" class="btn mb-4">
                    Lorem ipsum dolor sit amet consectetur
                </a>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iusto <b>quasi</b>, doloribus perspiciatis, eaque quaerat hic sint nesciunt ut laboriosam iste architecto commodi reprehenderit facilis ullam tempore, fugit eveniet voluptatibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores totam perferendis tenetur animi. Est non perferendis similique laudantium veniam in, sapiente commodi veritatis cumque a ad cum at quas enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iusto quasi, doloribus perspiciatis, eaque quaerat hic sint nesciunt ut laboriosam iste architecto commodi reprehenderit facilis ullam tempore, fugit eveniet voluptatibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores totam perferendis tenetur animi. Est non perferendis similique laudantium veniam in, sapiente commodi veritatis cumque a ad cum at quas enim?</p>
            </div>
        </div>
    </div>
</section>