<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row">

            <!-- menu -->
            <div class="menu-header">
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
                <div id="sidebarMenu">
                    <ul class="sidebarMenuInner">
                        <li><a href="login.html"><u>Entrar</u></a></li>
                        <li><a href="cadastro.html">Cadastre-se</a></li>
                        <li><a href="index.html">Página inicial</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- logo -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 logo-header align-self-center">
                <h1>
                    <a href="index.html">
                        <img src="/images/logo-white.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end align-items-center">
                    <h2>Pagamento</h2>
                    <a href="pagamento.html">Voltar</a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                <h3>Voucher</h3>

                <!-- formulário -->
                <form action="#" method="" class="validation" novalidate>
                    <div class="row justify-content-center">

                        <!-- Voucher -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <p class="mb-0"><b>Insira o código do voucher</b></p>
                                    <input type="text" class="form-control" id="" aria-describedby="" required>
                                </label>
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <a href="perfil-usuario.html" class="btn w-100" role="button" aria-pressed="true">Continuar</i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- modal container -->
<div class="modal fade" id="modalPagamento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalPagamento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p><i class="fa fa-check fa-2x"></i></p>
                <h3>Pagamento realizado com sucesso!</h3>
                <p>Pronto! Aproveite para começar seu curso e garantir sua certificaçao.</p>
                <a href="meus-cursos.html" class="btn">Acessar meu curso <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>