<!-- EAD e Prova -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- box -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="#" class="d-block">
                                    <span>SUSEP - Gestão Empresarial e Financeira</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="#">
                                    <span><strong>EAD</strong></span>
                                    <span><u>Quero realizar o curso e ter certificaçao</u></span>
                                    <span>Valor do curso: R$ 320,00</span>
                                    <span>Carga horária: 40 horas</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="#" class="d-block">
                                    <span><b>Local Prova 1</b></span>
                                    <span>Av. Copacabana, 1000 Centro, Rio de Janeiro - RJ</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- box -->
                <div class="card type-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="#" class="d-block">
                                    <span><b>Local Prova 2</b></span>
                                    <span>Av. Copacabana, 1000 Centro, Rio de Janeiro - RJ</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>