<!-- Cursos -->
<section class="career">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Capítulos</h2>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 1</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 2</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 3</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 4</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 5</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 6</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 7</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 8</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 9</span>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                <a href="#">
                    <img src="http://fpoimg.com/340x220?text=Video" alt="" class="img-fluid">
                    <span>#capitulo 10</span>
                </a>
            </div>
        </div>
    </div>
</section>
