{% include "partials/header.html" %}

{% include "partials/slide.html" %}

<!-- EAD e Prova -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                
                <h2 class="pt-3">EAD</h2>

                <!-- EAD -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="#" class="d-block">
                                    <span>SUSEP - Gestão Empresarial e Financeira</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Prova -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 align-self-center">
                                <a href="#" class="d-block">
                                    <span>SUSEP - Risco e Precificaçao de Seguros de Benefícios</span>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 align-self-center text-right">
                                <a href="#">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Sobre -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Sobre os exames</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quam expedita exercitationem sed reiciendis perferendis quos veniam. Aliquid voluptatem, veritatis, obcaecati aspernatur doloremque minima esse ea quidem ratione, possimus ex.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur magnam doloremque culpa nam neque repellendus sed sint nesciunt dicta voluptatem saepe at, et officia non delectus hic provident nobis molestiae.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ea harum excepturi vero magni nostrum est, eum reprehenderit ad deleniti, cupiditate amet voluptates eaque exercitationem ducimus? Nesciunt architecto expedita tempora?</p>
            </div>
        </div>
    </div>
</section>