<!-- Elementos -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>h2 - Lorem ipsum, dolor sit amet consectetur</h2>
                <p><strong>EAD</strong></p>
                <p>Lorem ipsum dolor sit amet <em>adipisicing elit</em>. Beatae exercitationem hic <strong>architecto magnam laborum error</strong> cumque obcaecati adipisci sit distinctio, voluptas commodi, <s>harum eaque doloribus nihil vitae</s> ut fugit aut.</p>
                <a href="#">link de um elemento</a>
                <hr>
                <h3>h3 - Totam quo obcaecati magnam provident sint</h3>
                <p><strong>Prova</strong></p>
                <p><u>Lorem ipsum dolor sit amet consectetur</u> adipisicing elit. Enim, <i>distinctio magni quasi qui nostrum quibusdam</i> animi vitae praesentium perspiciatis ipsam architecto nobis neque, voluptate totam laudantium recusandae voluptatibus culpa ullam.</p>
                <a href="#">link de um elemento</a>
            </div>
        </div>
    </div>
</section>
