<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-lg-center py-4">
                <a href="#">
                    <img src="/images/logo-white.png" alt="" class="img-fluid" width="300">
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 py-3">
                <div class="d-flex justify-content-lg-between align-items-center flex-wrap">
                    <a href="https://conhecimento.fgv.br/quem-somos">Quem somos</a>
                    <a href="https://conhecimento.fgv.br/exames-e-avaliacoes">Exames e Avaliações</a>
                    <a href="https://conhecimento.fgv.br/concursos">Concursos</a>
                    <a href="https://conhecimento.fgv.br/programa-de-habilitacao-em-seguros">Certificações</a>
                    <a href="https://ciapj.fgv.br/">Centros de Pesquisa</a>
                    <a href="https://conhecimento.fgv.br/HOME">Publicações</a>
                    <a href="https://conhecimento.fgv.br/eventos">Eventos</a>
                    <a href="https://conhecimento.fgv.br/videos">Vídeos</a>
                    <a href="https://conhecimento.fgv.br/contato-0">Fale Conosco</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 py-4 address">
                <p class="mb-3"><b>São Paulo</b></p>
                <p class="mb-1">Avenida Paulista 542, 7º andar</p>
                <p class="mb-1">CEP: 01311-000</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 py-4 address">
                <p class="mb-3"><b>Rio de Janeiro</b></p>
                <p class="mb-1">Rua Jornalista Orlando Dantas, 36</p>
                <p class="mb-1">CEP: 22250-900</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 py-4 address">
                <p class="mb-3"><b>Contato Comercial</b></p>
                <p class="mb-1"><a href="mailto:suporteseguros@fgv.br">suporteseguros@fgv.br</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 py-4 address">
                <p class="mb-3"><b>Atendimento aos candidatos</b></p>
                <p class="mb-1"><a href="tel:(11)37991560">(11) 3799-1560</a></p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                <p class="text-white mb-0">As manifestações expressas por integrantes dos quadros da Fundação Getulio Vargas, nas quais constem a sua identificação como tais, em artigos e entrevistas publicados nos meios de comunicação em geral, representam exclusivamente as opiniões dos seus autores e não, necessariamente, a posição institucional da FGV. Portaria FGV Nº19 / 2018.</p>
            </div>
        </div>
    </div>
</footer>