<!-- Formulários -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center">Vamos começar o seu cadastro.</p>
                <!-- formulário -->
                <form action="#" method="POST" class="validation" novalidate>
                    <!-- step 1 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Dados pessoais</h2>
                        </div>
                        <!-- Nome -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Nome Completo" required>
                                </label>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="email" class="form-control" id="" aria-describedby="" placeholder="E-mail" required>
                                </label>
                            </div>
                        </div>
                        <!-- Telefone -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="tel" class="form-control" id="" aria-describedby="" placeholder="Telefone" required>
                                </label>
                            </div>
                        </div>
                        <!-- RG -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="RG" required>
                                </label>
                            </div>
                        </div>
                        <!-- CPF -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="CPF" required>
                                </label>
                            </div>
                        </div>
                        <!-- Divisor -->
                        <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-block pt-2"></div>
                        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="password" class="form-control" id="" aria-describedby="" placeholder="Senha" required>
                                </label>
                            </div>
                            </div>
                            
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="password" class="form-control" id="" aria-describedby="" placeholder="Confirme a senha" required>
                                </label>
                            </div>
                            </div>
                            
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <select class="form-control outline-none">
                                        <option selected disabled>Exemplo de select</option>
                                        <option>-</option>
                                        <option>--</option>
                                        <option>---</option>
                                    </select>
                                </label>
                            </div>
                            </div> -->
                        <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2 pb-2 text-left">
                            <div class="form-check text-center">
                                <label class="form-check-label" for="termo">
                                    <input type="checkbox" class="form-check-input" id="termo" required>
                                    <span>Declaro que li e concordo com os <a href="#" target="_blank">Termos de Uso e Política de Privacidade</a>.</span>
                                </label>
                            </div>
                            </div> -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" role="button" aria-pressed="true" disabled>Continuar <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <!-- step 2 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Endereço</h2>
                        </div>
                        <!-- CEP -->
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="CEP" required>
                                </label>
                            </div>
                        </div>
                        <!-- Buscar CEP -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                            <a href="" class="btn type-2 w-100">
                            Consultar
                            </a>
                        </div>
                        <!-- Endereço -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Endereço" required>
                                </label>
                            </div>
                        </div>
                        <!-- Número -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Número" required>
                                </label>
                            </div>
                        </div>
                        <!-- Complemento -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Complemento" required>
                                </label>
                            </div>
                        </div>
                        <!-- Bairro -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Bairro" required>
                                </label>
                            </div>
                        </div>
                        <!-- Cidade -->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-7 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Cidade" required>
                                </label>
                            </div>
                        </div>
                        <!-- Estado -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-5 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <select class="form-control outline-none">
                                        <option selected disabled>Estado</option>
                                        <option>SP</option>
                                        <option>RJ</option>
                                        <option>RS</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" disabled role="button" aria-pressed="true">Continuar <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <!-- step 3 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Perfil</h2>
                        </div>
                        
                        <!-- Avatar -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2 pb-4 text-center">
                            <img src="/images/avatar.png" alt="" width="150">
                        </div>
                        
                        <!-- Senha -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Senha" required>
                                </label>
                            </div>
                            <p><small><i>A senha deve conter 8 caracteres com letras, números e caracteres especiais.</i></small></p>
                        </div>

                        <!-- Confirmar senha -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Confirmar senha" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="termo" required>
                                <span>Declaro que li e concordo com os <a href="#" target="_blank">Termos de Uso e Política de Privacidade</a>.</span>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" role="button" aria-pressed="true">Cadastrar <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
