<!-- Topo 2 -->
<header class="type-2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3>
                    <span>EXAME SUSEP</span>
                    Gestão Empresarial e Financeira
                </h3>
            </div>
        </div>
    </div>
</header>
