<!-- Topo 3 -->
<header class="type-2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-8 align-self-center">
                <h1>
                    <a href="#">
                    <img src="/images/logo-white.png" alt="" class="img-fluid">
                    </a>
                </h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center text-right">
                <a href="#">Menu</a>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Cursos</a></li>
                        <li class="breadcrumb-item"><a href="#">Gestão Emp. e Financeira</a></li>
                        <li class="breadcrumb-item active" aria-current="page">#1 Economia</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center text-center">
                <h3>
                    <span>EXAME SUSEP</span>
                    Gestão Empresarial e Financeira
                </h3>
            </div>
            <span class="stripe bg-success">
            Concluído
            </span>
        </div>
    </div>
</header>
