<!-- Topo 1 -->
<header class="type-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-8 align-self-center">
                <h1>
                    <a href="#">
                        <img src="/images/logo.png" alt="" class="img-fluid" width="280">
                    </a>
                </h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center text-right">
                <a href="#">Menu</a>
            </div>
        </div>
    </div>
</header>