<!-- Pagamento -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-between align-self-end">
                    <h2>Pagamento</h2>
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                
                <h3>Detalhes</h3>
                <p>EAD Gestao Empresarial e Financeira</p>

                <hr>
                <div class="d-flex justify-content-between">
                    <span>Total</span>
                    <span><b>R$ 320,00</b></span>
                </div>
                <hr>

                <h3>Forma de pagamento</h3>

                <!-- Cartão de Crédito -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center">
                                <a href="#" class="d-block">
                                    <img src="/images/cartao.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8 align-self-center">
                                <a href="#" class="d-block">
                                    <span>Cartão de Crédito <br> <small>Mastercard e Visa</small></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Boleto Bancário -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4 align-self-center">
                                <a href="#" class="d-block">
                                    <img src="/images/boleto.png" alt="" class="img-fluid">
                                </a>
                            </div>                            
                            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8 align-self-center">
                                <a href="#" class="d-block">
                                    <span>Boleto Bancário</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Dados do Cartão de Crédito</h3>

                <!-- formulário -->
                <form action="#" method="POST" class="validation" novalidate>
                    <div class="row justify-content-center">

                        <!-- Nome no Cartão -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Nome no cartão" required>
                                </label>
                            </div>
                        </div>

                        <!-- Número do Cartão -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Número no cartão" required>
                                </label>
                            </div>
                        </div>

                        <!-- Validade -->
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="tel" class="form-control" id="" aria-describedby="" placeholder="Validade" required>
                                </label>
                            </div>
                        </div>

                        <!-- CVV -->
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="CVV" required>
                                </label>
                            </div>
                        </div>
                        
                        <!-- Formas de pgto -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <select class="form-control outline-none">
                                        <option>Formas de parcelamento</option>
                                        <option>1x de R$ 320,00 sem juros</option>
                                        <option>--</option>
                                        <option>---</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" role="button" aria-pressed="true" disabled>Pagar <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                    <!-- step 2 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Endereço</h2>
                        </div>
                        <!-- CEP -->
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="CEP" required>
                                </label>
                            </div>
                        </div>
                        <!-- Buscar CEP -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                            <a href="" class="btn type-2 w-100">
                            Consultar
                            </a>
                        </div>
                        <!-- Endereço -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Endereço" required>
                                </label>
                            </div>
                        </div>
                        <!-- Número -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Número" required>
                                </label>
                            </div>
                        </div>
                        <!-- Complemento -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Complemento" required>
                                </label>
                            </div>
                        </div>
                        <!-- Bairro -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Bairro" required>
                                </label>
                            </div>
                        </div>
                        <!-- Cidade -->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-7 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Cidade" required>
                                </label>
                            </div>
                        </div>
                        <!-- Estado -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-5 pt-2">
                            <div class="form-group">
                                <label for="">
                                    <select class="form-control outline-none">
                                        <option selected disabled>Estado</option>
                                        <option>SP</option>
                                        <option>RJ</option>
                                        <option>RS</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" disabled role="button" aria-pressed="true">Continuar <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <!-- step 3 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>Perfil</h2>
                        </div>
                        
                        <!-- Senha -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Senha" required>
                                </label>
                            </div>
                            <p><small><i>A senha deve conter 8 caracteres com letras, números e caracteres especiais.</i></small></p>
                        </div>
                        <!-- Confirmar senha -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-group">
                                <label for="">
                                <input type="password" class="form-control" id="" aria-describedby="" placeholder="Confirmar senha" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="termo" required>
                                <span>Declaro que li e concordo com os <a href="#" target="_blank">Termos de Uso e Política de Privacidade</a>.</span>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4">
                            <button type="submit" class="btn w-100" role="button" aria-pressed="true">Cadastrar <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
