<!-- Slide -->
<section class="slide">
    <div class="container">
        <div id="slide-banner" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- slide item -->
                <div class="carousel-item active type-1">
                    <div class="row justify-content-around">
                        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-8 align-self-center">
                            <img src="/images/logo-susep.png" alt="" width="150">
                            <h2 class="text-white">Exame SUSEP</h2>
                            <h4 class="text-white">Os cuidados adotados para realizaçao da prova presencial</h4>
                            <a href="#" class="btn type-3">
                            Saiba mais
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block"></div>
                    </div>
                </div>
                <!-- slide item -->
                <div class="carousel-item type-1">
                    <div class="row justify-content-around">
                        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-8 align-self-center">
                            <img src="/images/logo-susep.png" alt="" width="150">
                            <h2 class="text-white">Exame SUSEP</h2>
                            <h4 class="text-white">Os cuidados adotados para realizaçao da prova presencial</h4>
                            <a href="#" class="btn type-3">
                            Saiba mais
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
            <!-- navigation -->
            <a href="#slide-banner" role="button" data-slide="prev" class="carousel-control-prev">
            <i class="fa fa-2x fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a href="#slide-banner" role="button" data-slide="next" class="carousel-control-next">
            <i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>