
		{% include "partials/elements/head.html" %}

		{% block content %}
		{% endblock %}

		{% include "partials/elements/footer.html" %}

		<!-- javascript -->
		<script src="js/bundle.min.js"></script>
		<script>
			stepContainer.init();

			// GDPR Consent cookies
			window.cookieconsent.initialise({
				container: document.getElementById("cookieconsent"),
				palette: {
					popup: {
						background: "#10233b",
						text: "#FFFFFF",
						link: "#98cac1",
					},
					button: {
						background: "#98cac1",
						border: "transparent",
						text: "#FFFFFF",
					},
					highlight: {
						background: "#041E33",
						border: "transparent",
						text: "#0C1319",
					},
				},
				content: {
					header: "Cookies used on the website!",
					message: "Este site usa cookies para garantir que você obtenha a melhor experiência em nosso site.",
					allow: "Aceitar",
					deny: "Recursar",
					dismiss: "Concordo",
					link: "Saiba mais",
					href: "https://www.osano.com/legal/cookies",
					policy: "Política de Cookie",
				},
				revokable: true,
				onStatusChange: function(status) {
					console.log(this.hasConsented() ?
					'enable cookies' : 'disable cookies');
				},
				// "theme": "edgeless",
				position: "bottom"
			});
		</script>
	</body>
</html>