/*
####################################################
CAREER
####################################################	
*/

.career {
	a {
		color: $secondary;
		display: block;
		transition: 0.3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	img {
		display: block;
	}
	figure {
		position: relative;
		overflow: hidden;
		margin-bottom: 0;
		span {
			background: url(../images/play.png) center center no-repeat;
			background-size: 100% auto;
			width: 40px;
			height: 40px;
			margin: -20px 0 0 -20px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 100;
		}
	}
	.progress {
		width: 85%;
		.progress-bar {
			background-color: $tenth;
		}
		b {
			font-size: 1.2em;
		}
	}
	.frequency {
		i {
			color: $fifty;
		}
	}
}
.video {
	background-color: $primary;
	margin-bottom: 15px;
	color: $white;
	h3 {
		span {
			font-weight: 600;
			margin-top: 10px;
			color: $tenth;
		}
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}