/*
####################################################
ERROR
####################################################	
*/

.page-error-susep {
	h1 {
		font-size: 8em;
		color: $primary;
		letter-spacing: -0.05em;
	}
	h3 {
		color: $eighth;
    	font-size: 1.6em;
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.page-error-susep {
		h1 {
			font-size: 15em;
			color: $primary;
			letter-spacing: -0.05em;
		}
		h3 {
			color: $eighth;
			font-size: 2em;
		}
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}