/*
####################################################
FOOTER
####################################################	
*/

footer {
	background-color: $primary;
	margin-top: 50px !important;
	padding: 30px 0;
	position: relative;
	overflow: hidden;
	.container {
		max-width: 1500px;
		position: relative;
	}
	span {
		color: $white;
	}
	p {
		color: $white;
	}
	a {
		margin-bottom: 15px;
		margin-right: 20px;
		font-weight: 300;
		color: $white;
		text-decoration: none;
	}
	.address {
		&::after {
			content: '';
			background-color: #153256;
			position: absolute;
			width: 5000px;
			height: 100%;
			top: 0;
			left: -2500px;
		}
		p, a {
			z-index: 100;
			position: relative;
		}
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}