/*
####################################################
GLOBALS
####################################################	
*/
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-synthesis: antialiased;
	text-rendering: optimizeLegibility;
	font-family: "Arial", sans-serif;
	font-size: 1em;
	font-weight: 300;
	letter-spacing: normal;
	margin: 0 auto;
	position: relative;
	color: $secondary;
}
h1, h2, h3, h4, h5 {
	font-family: 'gothambold';
	margin: 0;
	padding: 0;
	line-height: normal;
}
h1 {
	font-size: 3em;
	font-weight: 500;
	color: $white;
	// margin-top: 5px;
	&.title {
		font-size: 1.2em;
		font-weight: 600;
		margin: 0 auto;
		color: $tenth !important;
	}
}
h2 {
	color: $primary;
	font-size: 1.3em;
	font-weight: 700;
	margin: 20px 0;
	text-transform: uppercase;
	&::after {
		content: '';
		background-color: $tenth;
		width: 80px;
		height: 7px;
		margin-top: 10px;
		display: block;
	}
}
h3 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 20px 0;
	span {
		font-size: 0.8em;
		font-weight: 400;
		margin-bottom: 5px;
		display: block;
	}
	&.title {
		color: $tenth !important;
		span {
			color: $white !important;
		}
	}
}
h4 {
	font-size: 1.2em;
	font-weight: 400;
}
h5 {
	font-size: 1.3em;
}
hr {
	border-color: $tenth;
}
p, span, a {
	font-weight: 400;
	font-size: 1.1em;
}
p {
	// font-size: 1.03em;
}
a {
	font-weight: 700;
	color: $tenth;
	text-decoration: underline;
	&:hover {
		color: $tenth;
	}
}
b,
strong {
	font-weight: 700;
}
nav,
ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style: none;
}
.container {
	max-width: 1024px;
}
div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}
header, 
footer, 
section {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
section {
	// margin-bottom: 15px;
}
.form-group {
	margin-bottom: 5px;
}
.form-control {
	color: $secondary;
	background-color: transparent;
	border: 0 none;
	border-bottom: 1px solid $primary;
	border-radius: 0;
	padding-right: 0;
	padding-left: 0;
	height: 45px;
	font-weight: 400;
}
.form-control[type="file"] {
	border: 0 none;
}
input,
textarea {
	background-color: transparent;
}
label {
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.btn {
	background-color: $tenth;
	border-radius: 0;
	min-height: 50px;
	padding: 15px 30px;
	transition: 0.3s ease-in-out;
	color: $white;
	font-weight: 700;
	text-decoration: none;
	line-height: normal;
	&:hover {
		opacity: 0.7;
		color: $white;
	}
	&.type-2 {
		background-color: $fourth;
		color: $primary;
	}
	&.type-3 {
		background-color: $fourth;
		color: $tenth;
	}
}
.card {
	border: 1px solid $tenth;
	background-color: transparent;
	border-radius: 0;
	margin: 0 0 20px 0; 
	a {
		color: $secondary;
		text-decoration: none;
	}
	i {
		color: $tenth;
	}
	span {
		font-size: 1.05em;
		font-weight: 400;
		margin: 5px 0;
		display: block;
	}
	b {
		// color: $tenth;
	}
}
.breadcrumb-container {
	background-color: $primary;
	h2, h3, a, span  {
		color: $white;
	}
}
.breadcrumb {
	background-color: transparent;
	margin: 0 0 30px 0;
	padding: 0;
	
}
.breadcrumb-item {
	text-decoration: underline;
	a {
		font-weight: 300;
	}
}
.breadcrumb-item.active {
	text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before,
.breadcrumb-item.active {
	color: $white;
}
.stripe {
	text-align: center;
	border-radius: 30px;
	width: 200px;
	margin: 0 0 0 -100px;
	padding: 5px 20px;
	position: absolute;
	bottom: -25px;
	left: 50%;
	font-weight: 500;
	color: $white;
}
.pattern {
	background-color: $primary;
}
.modal-backdrop {
	background-color: $primary;
	opacity: 1;
	&.show {
		opacity: 1;
	}
}
.step {
	transition: 0.3s ease-in-out;
	display: none;
	&.opened {
		display: block;
	}
	i {
		color: $white;
	}
	&.recover {
		label {
			width: auto;
			margin-left: 40px;
		}
	}
}
.step-bullet {
	span {
		background-color: $sixty;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		margin: 0 10px;
		&.actived {
			background-color: $primary;
		}
	}
}
.form-control.is-valid, .was-validated .form-control:valid,
.form-control.is-invalid, .was-validated .form-control:invalid {
	background-image: none;
}
.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
	color: inherit;
}
.swal2-container {
	.swal2-title {
		&::after {
			content: none !important;
		}
	}
}
.bg-table-black {
	background-color: $tenth;
}
.embed-payment {
	min-height: 1100px;
}

.loading-susep {
	position: fixed;
	width: 100%;
	height: calc(100%);
	top: 0;
	left: 0;
	z-index: 1111 !important;
	&::before {
		content: '';
		background-color: transparent;
		border: 5px solid #50ad98;
		border-top-color: transparent;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin: -25px 0 0 -25px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 100;
		-webkit-animation:spin 0.8s linear infinite;
		-moz-animation:spin 0.8s linear infinite;
		animation:spin 0.8s linear infinite;
		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
		@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
	}
	&::after {
		content: '';
		background-color: black;
		opacity: 0.7;
		width: 100%;
		height: calc(100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 90;
	}
}
.qtd-payment {
	border: 1px solid #98cac1;
    width: 100px;
    text-align: center;
}
.swal2-x-mark {
	span {
		font-size: 0.93em !important;
	}
}
.fgv-class {
	background-color: #75CC98 !important;
	color: #FFFFFF !important;
	border-left-color: #75CC98 !important;
	border-right-color: #75CC98 !important;
}
select[readonly] {
	background: #eee !important; /*Simular campo inativo*/
	pointer-events: none !important;
	touch-action: none !important;
}
.bg-title {
	background-color: $primary;
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.embed-payment {
		min-height: 700px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1440px !important;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}