/*
####################################################
HEADER
####################################################	
*/

header {
	background-color: $primary;
	padding: 15px 0;
	width: 100%;
    z-index: 1000;
	min-height: 80px;
	.container {
		max-width: 100%;
	}
	h2, h3 {
		margin: 0;
	}
	img {
		display: block;
	}
	.row {
		min-height: 50px;
	}
	.logo-header {
		// padding-left: 70px;
	}
	.menu-header {
		position: fixed;
		top: 15px;
		right: 0;
		padding: 15px;
		z-index: 1000;
		&::before {
			content: '';
			position: absolute;
			width: 50px;
			height: 50px;
			margin: -31px -25px 0 0;
			top: 50%;
			right: 50%;
			background-color: $primary;
		}
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
