/*
####################################################
HOME V3
####################################################	
*/

@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo/museo-700.eot');
    src: url('../fonts/museo/museo-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo-700.woff') format('woff'),
         url('../fonts/museo/museo-700.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kollektif';
    src: url('../fonts/kollektif/kollektif.eot');
    src: url('../fonts/kollektif/kollektif.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kollektif/kollektif.woff') format('woff'),
         url('../fonts/kollektif/kollektif.svg#kollektif') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa/nexa.eot');
    src: url('../fonts/nexa/nexa.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa/nexa.woff') format('woff'),
         url('../fonts/nexa/nexa.svg#nexa') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham/gotham.eot');
    src: url('../fonts/gotham/gotham.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham.woff') format('woff'),
         url('../fonts/gotham/gotham.svg#gotham') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gotham-bold/gotham-bold.eot');
    src: url('../fonts/gotham-bold/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold/gotham-bold.woff') format('woff'),
         url('../fonts/gotham-bold/gotham-bold.svg#gothambold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.home-v3 {
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h5,
	.tarje-text {
		font-family: 'gothambold';
		line-height: 1.3em;
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
		&::before,
		&::after {
			content: none;
		}
	}
	h2 {
		font-size: 2em;
		text-transform: uppercase;
		color: $primary;
	}
	h1, .tarje-text {
		font-size: 1.7em;
	}
	h3 {
		font-family: 'Arial';
		font-size: 1.8em;
		font-weight: 600;
		&:after {
			content: '';
			background-color: $primary;
			width: 100%;
			height: 3px;
			margin: 20px 0 30px;
			display: block;
		}
		&.text-white {
			&::after {
				background-color: $white;
			}
		}
	}
	h4 {
		font-family: 'nexa';
		font-size: 1.5em;
		font-weight: 600;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		&:after {
			content: '';
			background-color: $primary;
			width: 150px;
			height: 2px;
			margin: 20px 0 30px;
			display: block;
		}
		&.link {
			display: block;
			&::after {
				// content: none;
			}
			a {
				font-family: inherit;
				font-size: inherit;
				color: inherit;
				font-weight: 700;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	h5 {
		font-family: 'nexa';
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 0.3em;
		text-transform: uppercase;
	}
	p, a, span, li {
		font-family: 'Arial';
		font-size: 1.2em;
		font-weight: 300;
	}
	li {
		margin-bottom: 5px;
	}
	.content-feature {
		p {
			// font-size: 1.2em;
			font-weight: 300;
		}
	}
	hr {
		border-color: $primary;
	}
	.container {
		max-width: 1500px;
		position: relative;
	}
	.text-black {
		color: $primary;
	}
	.text-white {
		color: $white;
	}
	.text-green {
		color: $tenth;
	}
	.bg-black {
		background-color: $primary;
	}
	.bg-white {
		background-color: $white;
	}
	.bg-green {
		background-color: $thirteenth;
	}
	.title {
		font-size: 1.5em;
	}
	#slidehomev3 {
		height: 200px;
		.slide-1,
		.slide-2,
		.slide-3 {
			// background-size: 55% auto;
			position: relative;
			span {
				background-color: #1d1b1e;
				font-family: 'museo700';
				font-size: 2.8em;
				text-transform: uppercase;
				color: $tenth;
				margin: 0;
				padding: 0 40px;
				position: absolute;
				right: 0;
				bottom: 15%;
			}
		}
		.slide-2 {
			background-position: center center;
			background-size: 100% auto;
		}
		.slide-3 {
			background-position: center center;
			background-size: 100% auto;
		}
	}
	.carousel-control-next-icon, .carousel-control-prev-icon {
		width: 30px;
		height: 30px;
	}
	.carousel-inner,
	.carousel-item {
		height: 100%;
	}
	.carousel-control-next, 
	.carousel-control-prev {
		opacity: 1;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		background-image: none;
		i {
			color: #3c9e88;
		}
	}
	.tarje-home-v3 {
		padding: 10px 15px;
		position: relative;
		overflow: hidden;
		&::after {
			content: none;
			margin: -200px 0 0 0;
			position: absolute;
			top: 50%;
			right: -380px;
			width: 400px;
			height: 400px;
			-webkit-transform: rotate(35deg);
			-o-transform: rotate(35deg);
			transform: rotate(20deg);
		}
		div {
			width: 100px;
			height: 100%;
			margin: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			overflow: hidden;
			&::after {
				content: '';
				margin: -200px 0 0 0;
				position: absolute;
				top: 50%;
				right: -380px;
				width: 400px;
				height: 400px;
				-webkit-transform: rotate(20deg);
				-o-transform: rotate(20deg);
				transform: rotate(20deg);
			}
		}
		&.type-0 {
			&::before {
				content: '';
				background-color: $tenth;
				width: 1000%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			div	{
				&::after {
					background-color: $primary;
				}
			}
			h1, .tarje-text {
				color: $primary;
			}
		}
		&.type-1 {
			&::before {
				content: '';
				background-color: $thirteenth;
				width: 1000%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			div	{
				&::after {
					background-color: $primary;
				}
			}
			h1, .tarje-text {
				color: $primary;
			}
		}
		&.type-2 {
			&::before {
				content: '';
				background-color: $primary;
				width: 1000%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			div	{
				&::after {
					background-color: $thirteenth;
				}
			}
		}
		&.type-3 {
			&::before {
				content: '';
				background-color: $thirteenth;
				width: 1000%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			div {
				&::after {
					background-color: $white;
				}
			}
			h1, .tarje-text {
				color: $primary;
			}
		}
		&.no-art {
			div {
				&::after {
					transform: rotate(0deg);
				}
			}
		}
	}
	.home-v3-module-title {
		border-bottom: 2px solid $primary;
		span {
			font-family: 'gothambold';
			font-size: 2.6em;
			margin: 0 30px 0 0;
			padding: 0 35px 0 0;
			border-right: 2px solid $primary;
		}
		h5 {
			padding: 10px 0;
			word-break: break-all;
		}
	}
	.nb {
		font-size: 2em;
		font-weight: 700;
		width: 40px;
		display: inline-block;
		vertical-align: middle;
	}
	.home-v3-concav {
		position: absolute;
		display: none;
		&.type-1 {
			border: 70px solid $thirteenth;
			border-radius: 50%;
			width: 300px;
			height: 300px;
			margin: 0 -150px 0 0;
			background-color: transparent;
			top: -200px;
			right: 50%;
		}
		&.type-2 {
			border: 70px solid $thirteenth;
			border-top-color: $primary;
			border-left-color: $primary;
			border-radius: 50%;
			width: 300px;
			height: 300px;
			margin: 0 -215px 0 0;
			background-color: transparent;
			top: -280px;
			right: 50%;
			-ms-transform: rotate(45deg); /* IE 9 */
			-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
			transform: rotate(45deg);
		}
	}
	.slide-1 {
		background: url(../images/banner-slide-desktop.png) center right no-repeat;
		background-size: cover;
		border: 0 none;
	}
	.slide-2 {
		background: url(../images/banner-exame.jpg) top center no-repeat;
		background-size: 100% auto !important;
		border: 0 none;
		a {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.slide-3 {
		background: url(../images/Banner-Site-EAD_v2-01.png) top center no-repeat;
		background-size: 100% auto !important;
		border: 0 none;
		a {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.go {
		font-size: 1.1em;
		font-weight: 700;
		text-decoration: none;
	}
	.text-poppins {
		font-family: 'Poppins';
		font-weight: 400;
		font-size: 1.65em;
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.home-v3 {
		#slidehomev3 {
			height: 300px;
		}
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.home-v3 {
		p, a, span, li {
			font-size: 1.35em;
			font-weight: 500;
		}
		h2 {
			font-size: 2.5em;
		}
		h3 {
			font-size: 2em;
		}
		h5 {
			font-size: 1.3em;
		}
		#slidehomev3 {
			height: 440px;
			.slide-1 {
				span {
					font-size: 3.4em;
					right: 5%;
					bottom: 15%;
				}
			}
		}
		.tarje-home-v3 {
			padding: 10px 40px 10px 0;
			overflow: inherit;
		}
		.content-feature {
			p {
				font-size: 1.35em;
			}
		}
		.home-v3-concav {
			display: block;
		}
		.home-v3-module-title {
			h5 {
				word-break: normal;
			}
		}
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.home-v3 {
		.slide .carousel-control-next, 
		.slide .carousel-control-prev {
			text-decoration: none;
			width: 5%;
		}
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
