/*
####################################################
LOGIN
####################################################	
*/

.login {
	h2 {
		&::after {
			content: none;
		}
	}
	.box {
		height: 80vh;
	}
	.btn {
		color: $white;
	}
	a {
		color: $tenth;
	}
	.card {
		// background-color: $eleventh;
		border-color: transparent;
		border-width: 1px;
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.login {
		// .box {
		// 	height: 90vh;
		// }
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}