/*
####################################################
LOGIN
####################################################	
*/

.profile-user {
	&::before {
		content: '';
		background-color: $primary;
		width: 100%;
		height: 130px;
		position: absolute;
		top: -20px;
		left: 0;
	}
	&.user-pj {
		&::before {
			content: none;
		}
	}
	.title {
		font-size: 1.6em;
		font-weight: 700;
		color: $primary;
		&::after {
			content: none;
		}
	}
	.avatar-user {
		border-radius: 50%;
		border: 5px solid $white;
		width: 160px;
		height: 160px;
		margin: 0 auto 30px auto;
		position: relative;
		overflow: hidden;
		z-index: 100;
	}
	.option-user {
		background-color: $fourth;
		border: 2px solid $sixty;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		width: 310px;
		margin: 0 auto;
		position: relative;
		a {
			font-size: 1em;
			border-radius: 50px;
			width: 50%;
			padding: 10px;
			text-decoration: none;
			color: $ninth;
			font-weight: 600;
			&.actived {
				background-color: #fff;
				color: $tenth;
			}
		}
	}
	.option-user-container {
		p {
			margin-bottom: 5px;
		}
		h3 {
			margin-bottom: 0;
			font-weight: 700;
			color: $tenth;
		}
		.pending {
			position: relative;
			&::before {
				content: '';
				background-color: $white;
				opacity: 0.8;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.btn {
			min-height: inherit;
			// padding: .375rem .75rem;
		}
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.login {
		// .box {
		// 	height: 90vh;
		// }
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}