/*
####################################################
SCHEDULE
####################################################	
*/

.schedule {
	.d-flex {
		min-height: 100px;
	}
	figure {
		width: 100px;
		margin: 0;
		padding: 0;
		text-align: center;
		span {
			background-color: $primary;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
		}
		i {
			color: $white;
			margin: 0 auto;
			display: block;
		}
	}
	span {
		display: block;
	}
	label {
		span {
			display: inherit;
		}
	}
	.table {
		font-size: 0.9em;
		font-weight: 500;
		th {
			font-weight: 400;
		}
		thead {
			background-color: $primary;
			color: $white;
		}
		td {
			.selected {
				background-color: $primary;
				text-align: center;
				border-radius: 50%;
				color: $white;
				font-weight: 500;
				overflow: hidden;
				width: 24px;
				height: 24px;
				display: inline-block;
				vertical-align: baseline;
				line-height: 1.6em;
				overflow: hidden;
			}
		}
	}
	.table>tbody>tr>td,
	.table>tbody>tr>th {
		border-top: none;
	}
	th {
		padding-left: 0;
		padding-right: 0;
	}
	.form-check {
		border-bottom: 1px solid $third;
		margin-bottom: 20px;
		padding: 10px 0;
		&.d-flex {
			height: auto;
			min-height: auto;
		}
		label {
			border-radius: 0;
		}
		h4 {
			font-size: 1.05em;
		}
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}