/*
####################################################
SLIDE
####################################################	
*/

.slide {
	.row {
		min-height: 350px;
	}
	img, p, h4 {
		margin-bottom: 20px;
	}
	.carousel-item {
		&.type-1 {
			// background-color: $tenth;
			background: url(../images/banner.png) center center no-repeat;
			background-size: 100% 100%;
		}
	}
	.carousel-control-prev,
	.carousel-control-next {
		text-decoration: none;
		width: 10%;
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 992px) {
	.slide {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.slide {
		.row {
			min-height: 400px;
		}
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}