/*
####################################################
VARIABLES
####################################################
*/

// default
$black: black;
$white: white;
$gray: gray;

// palette
// $primary: #078BCD;
// $primary: #000000;
$primary: #10233b;
// $secondary: #393939;
$secondary: #222123;
$third: #F1F1F1;
$fourth: #f5f5f5;
$fifty: #5DB075;
$sixty: #E8E8E8;
$seventy: #ABABAB;
$eighth: #023a78;
$ninth: #BDBDBD;
$tenth: #50ad98;
$eleventh: #FAFAFA;
$twelfth: #222222;
$thirteenth: #98cac1;